
._none {
    display: none;
}

._flype,._notetips {
    padding: 0 calRem(30);
    font-size: $text-size-24px;
    color: $c-light;
    background-color: $c-lightyellow;
    height: calRem(74);
    line-height: calRem(72);
    box-sizing: border-box;
    background-image: $img-border-btm;
    background-position: 0 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    & i{
        float: right;
        padding-left: calRem(12);
        font-weight: bold;
    }
}
._flype {
    padding: calRem(15) calRem(30) calRem(30);
    line-height: 2.2;
    -webkit-transition: height 1s ease;
    transition: height 1s ease;

    & i{
        margin-top: -#{calRem(6)};
    }
}
._flype_slid_down {
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    & li{
        float: left;
    }
}
._pwd {
    margin: 30px auto;
    background-color: $c-white;
    width: calRem(688);
    height: calRem(114);
    border: 1px solid $c-stonegrey;
    box-sizing: border-box;
    border-radius: calRem(5);

    & li {
        float: left;
        color: $c-black;
        height: calRem(114);
        width: calRem(114);
        line-height: calRem(110);
        font-size: calRem(26);
        box-sizing: border-box;
        text-align: center;
        border-right: 1px solid $c-stonegrey;
    }
    & li:last-child {
        width: calRem(113);
        border: none;
    }
}

._timepoint {
    float: left;
    width: 33.333%;
    text-align: center;
    font-size: calRem(24);
    padding-top: 12px;
    
    &:before{
        content: '\00A0\00A0\00A0';
        font-size: calRem(40);
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><circle stroke='#ffffff' stroke-width='3' fill='#c1c1c1' cx='10' cy='9.25' r='6'/></svg>");
        background-position: center center;
        background-repeat: no-repeat;
    }
    span {
        display: block;
        color: $c-light;
    }

    &._active:before {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><circle stroke='rgba(239,194,111,.5)' stroke-width='4' fill='#d7ac62' cx='10' cy='9.25' r='4'/></svg>");
    }
}    

._timeline {
    height: 6rem;
    
}

._progress {
    width: 16.5rem;
    height: calRem(120);
    margin: calRem(18) auto;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><rect fill='#47b2ac' x='7%' y='0' width='11.5%' height='1'/><rect fill='#d2d2d2' x='18.5%' y='0' width='75.5%' height='1'/></svg>");
    background-position: 0 calRem(22);
    background-repeat: no-repeat;
    
    ._stage {
        width: calRem(196);
        text-align: center;
        float: left;
    }
    ._stage:first-child,
    ._stage:last-child {
        width: calRem(117);
    }
    ._stage div {
        display: block;
        width: calRem(44);
        height: calRem(44);
        margin: 0 auto;
        color: #d2d2d2;
        font-size: calRem(24);
        font-weight: bold;
        line-height: calRem(42);
        box-sizing: border-box;
        text-align: center;
        background-color: #fff;
        border: 1px solid #d2d2d2;
        border-radius: 50%;
    }
    ._stage:last-child div {
        margin: 0 0 0 calRem(76);
    }
    ._stage:first-child div {
        margin: 0 calRem(76) 0 0 ;
    }
    ._stage:first-child span {
        margin-left: -#{calRem(60)};
    }
    ._stage:last-child span {
        margin-right: -#{calRem(60)};
    }
}

%stageActive {
    color: #47b2ac;
    border-color: #47b2ac;
}
 
// 只有三步的时候
._progress3 {
    width: 11.5rem;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><rect fill='#47b2ac' x='10%' y='0' width='17.25%' height='1'/><rect fill='#d2d2d2' x='27.25%' y='0' width='62%' height='1'/></svg>");
    
}
._p_step1 {
    ._stage:nth-of-type(1) div{
        @extend %stageActive;
    }
}

._p_step2 {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><rect fill='#d2d2d2' x='7%' y='0' width='11.5%' height='1'/><rect fill='#47b1af' x='18.5%' y='0' width='30%' height='1'/><rect fill='#d2d2d2' x='48.5%' y='0' width='44.5%' height='1'/></svg>");

    ._stage:nth-of-type(2) div{
        @extend %stageActive;
    }
}
._p_step3 {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><rect fill='#d2d2d2' x='7%' y='0' width='41.5%' height='1'/><rect fill='#47b1af' x='48.5%' y='0' width='33%' height='1'/><rect fill='#d2d2d2' x='81.5%' y='0' width='11.5%' height='1'/></svg>");

    ._stage:nth-of-type(3) div{
        @extend %stageActive;
    }
}
._p_step4 {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><rect fill='#47b2ac' x='81.5%' y='0' width='11.5%' height='1'/><rect fill='#d2d2d2' x='7%' y='0' width='74.5%' height='1'/></svg>");

    ._stage:nth-of-type(4) div{
        @extend %stageActive;
    }
}
._p3_step2 {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><rect fill='#d2d2d2' x='10%' y='0' width='17.25%' height='1'/><rect fill='#47b1af' x='27.25%' y='0' width='44.5%' height='1'/><rect fill='#d2d2d2' x='71.75%' y='0' width='17.25%' height='1'/></svg>");

    ._stage:nth-of-type(2) div{
        @extend %stageActive;
    }
}
._p3_step3 {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><rect fill='#47b2ac' x='72%' y='0' width='17.25%' height='1'/><rect fill='#d2d2d2' x='10%' y='0' width='62%' height='1'/></svg>");

    ._stage:nth-of-type(3) div{
        @extend %stageActive;
    }
}


//hammertips
._hammertips {
    position: relative;
    border: 1px dashed $c-lightgrey;
    padding: 1rem .8rem;
    width: 70%;
    margin: 1rem auto 0;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%…oke='#dcdcdc' x='0' y='0' width='100%' height='100%' rx='8' ry='8'/></svg>");
    border-radius: 4px;
    color: $c-lightgrey;

    & i {
        position: absolute;
        top: -15px;
        left: 50%;
        margin-left: -30px;
        width: 60px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color: #fff;
    }
}