
._none {
    display: none;
}

._flype,._notetips {
    padding: 0 calRem(30);
    font-size: $text-size-24px;
    color: $c-light;
    background-color: $c-lightyellow;
    height: calRem(74);
    line-height: calRem(72);
    box-sizing: border-box;
    background-image: $img-border-btm;
    background-position: 0 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    & i{
        float: right;
        padding-left: calRem(12);
        font-weight: bold;
    }
}
._flype {
    padding: calRem(15) calRem(30) calRem(30);
    line-height: 2.2;
    -webkit-transition: height 1s ease;
    transition: height 1s ease;

    & i{
        margin-top: -#{calRem(6)};
    }
}
._flype_slid_down {
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

._protocol {
    padding: 0 calRem(30);
    ._checkbox {
        margin-right: calRem(10);
    }
}
._pwd {
    margin: 30px auto;
    background-color: $c-white;
    width: calRem(688);
    height: calRem(114);
    border: 1px solid $c-stonegrey;
    box-sizing: border-box;
    border-radius: calRem(5);

    & li {
        float: left;
        color: $c-black;
        height: calRem(114);
        width: calRem(114);
        line-height: calRem(110);
        font-size: calRem(26);
        box-sizing: border-box;
        text-align: center;
        border-right: 1px solid $c-stonegrey;
    }
    & li:last-child {
        width: calRem(113);
        border: none;
    }
}

._timepoint {
    float: left;
    width: 33.333%;
    text-align: center;
    font-size: calRem(24);
    padding-top: 12px;
    
    &:before{
        content: '\00A0\00A0\00A0';
        font-size: calRem(40);
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><circle stroke='#ffffff' stroke-width='3' fill='#c1c1c1' cx='10' cy='9.25' r='6'/></svg>");
        background-position: center center;
        background-repeat: no-repeat;
    }
    span {
        display: block;
        color: $c-light;
    }

    &._active:before {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><circle stroke='rgba(239,194,111,.5)' stroke-width='4' fill='#d7ac62' cx='10' cy='9.25' r='4'/></svg>");
    }
}    

// ._timeline {
//     height: 6rem;
    
// }

._progress {
    height: calRem(120);
    margin: calRem(18) auto;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><rect fill='#47b2ac' x='15%' y='0' width='11.5%' height='1'/><rect fill='#d2d2d2' x='25.5%' y='0' width='61.5%' height='1'/></svg>");
    background-position: 0 calRem(22);
    background-repeat: no-repeat;
    
    ._stage {
        width: calRem(187);
        text-align: center;
        float: left;
    }
    ._stage ._stageheader {
        display: block;
        width: calRem(44);
        height: calRem(44);
        margin: 0 auto;
        color: #d2d2d2;
        font-size: calRem(24);
        font-weight: bold;
        line-height: calRem(42);
        box-sizing: border-box;
        text-align: center;
        background-color: #fff;
        border: 1px solid #d2d2d2;
        border-radius: 50%;
    }
}

%stageActive {
    color: #47b2ac;
    border-color: #47b2ac;
}
 
// 只有三步的时候
._p3 {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><rect fill='#47b2ac' x='15%' y='0' width='17.5%' height='1'/><rect fill='#d2d2d2' x='32.5%' y='0' width='48%' height='1'/></svg>");
    
}
._p_step1 {
    ._stage:nth-of-type(1) ._stageheader{
        @extend %stageActive;
    }
}

._p_step2 {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><rect fill='#d2d2d2' x='15%' y='0' width='11%' height='1'/><rect fill='#47b1af' x='25.5%' y='0' width='24%' height='1'/><rect fill='#d2d2d2' x='49.5%' y='0' width='36%' height='1'/></svg>");

    ._stage:nth-of-type(2) ._stageheader{
        @extend %stageActive;
    }
}
._p_step3 {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><rect fill='#d2d2d2' x='15%' y='0' width='35.5%' height='1'/><rect fill='#47b1af' x='50%' y='0' width='24.5%' height='1'/><rect fill='#d2d2d2' x='74.5%' y='0' width='10%' height='1'/></svg>");

    ._stage:nth-of-type(3) ._stageheader{
        @extend %stageActive;
    }
}
._p_step4 {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><rect fill='#47b2ac' x='74.5%' y='0' width='11.5%' height='1'/><rect fill='#d2d2d2' x='15%' y='0' width='60%' height='1'/></svg>");

    ._stage:nth-of-type(4) ._stageheader{
        @extend %stageActive;
    }
}
._p3_step2 {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><rect fill='#d2d2d2' x='15%' y='0' width='17.25%' height='1'/><rect fill='#47b1af' x='32%' y='0' width='34%' height='1'/><rect fill='#d2d2d2' x='66%' y='0' width='17.25%' height='1'/></svg>");

    ._stage:nth-of-type(2) ._stageheader{
        @extend %stageActive;
    }
}
._p3_step3 {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><rect fill='#47b2ac' x='67%' y='0' width='15.25%' height='1'/><rect fill='#d2d2d2' x='15%' y='0' width='52%' height='1'/></svg>");

    ._stage:nth-of-type(3) ._stageheader{
        @extend %stageActive;
    }
}
._p2 {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><rect fill='#47b2ac' x='30%' y='0' width='20%' height='1'/><rect fill='#d2d2d2' x='50%' y='0' width='20%' height='1'/></svg>");
}
._p2_step2 {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><rect fill='#d2d2d2' x='30%' y='0' width='20%' height='1'/><rect fill='#47b2ac' x='50%' y='0' width='20%' height='1'/></svg>");
}

//hammertips
._hammertips {
    position: relative;
    border: 1px dashed $c-lightgrey;
    padding: 1rem .8rem;
    width: 70%;
    margin: 1rem auto 0;
    // background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%…oke='#dcdcdc' x='0' y='0' width='100%' height='100%' rx='8' ry='8'/></svg>");
    border-radius: 4px;
    color: $c-lightgrey;

    & i {
        position: absolute;
        top: -15px;
        left: 50%;
        margin-left: -30px;
        width: 60px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color: $c-white;
    }
}
._hammertips-fail {
    position: relative;
    padding: 1rem .3rem;
    width: 85%;
    margin: 1rem auto 0;
    border-top: 1px solid #ccc;
    color: $c-lightgrey;
    font-size: $text-size-28px;
    line-height: 1.8;
    text-align: center;
    ._hammertips-fail-title {
        position: absolute;
        top: -15px;
        left: 50%;
        margin-left: -35px;
        width: 70px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color: $c-white;
        
        color: $c-black;
        z-index: 2;
    }
}



// 顶部渐变
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

._assetheader {
    width: 100%;
    padding: calRem(20) calRem(30);
    box-sizing: border-box;
    @extend ._bgcolor_deepbrown;

    h3 {
        @extend ._text_color_high;
        @extend ._text_size_36px;
        line-height: calRem(60);
    }
    h2 {
        font-weight: bold;
        @extend ._text_color_high;
        font-size: celRem(50);
        line-height: calRem(90);
    }
    h6 {
        @extend ._text_color_light;
        @extend ._text_size_24px;
        line-height: calRem(50);
    }

    div {
        position: relative;
        margin: 5px 0 6px;

        & ._select {
            position: absolute;
            bottom: -1px;
            right: 0;
            display: inline-block;
            text-align: right; 
            & i {
                display: inline-block;
                width: 15px;
            }
        }
    }
}




// modal
._mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    z-index: $zindex-mask;
}
._modal-wrap {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -#{calRem(306)};
    width: calRem(612);
    background: $c-white ;
    border-radius: 4px;
    z-index: $zindex-modal;
}
._modal-content{
    text-align: center;
    padding: 30px;

}
._modal-footer{
    border-top: 1px solid $c-lightgrey;
    height: 80px;
}

._comment {
    padding: 0 calRem(30);
    line-height: calRem(74);
    
}


//toast 
._toast {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0,0,0,0);
}
._toast_container {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: -#{calRem(47)};
    height: calRem(94);
    width: 100%;
}
._toast_message {
    display: inline-block;
    padding: calRem(30);
    border-radius: 5px;
    background: rgba(0,0,0,0.5);
    box-sizing: border-box;
    overflow: hidden;
    @extend ._text_color_white;
    @extend ._text_size_34px;
    z-index: $zindex-modal;
}
._toast_fade_off {
    display: none;
}

._toast_fade_in {
    display: block;
}

//顶部toast
._top-toast {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: calRem(20) calRem(30);
    background: rgba(0,0,0,0.5);
    color: $c-white;
    font-size: $text-size-22px;
    z-index: $zindex-modal;
}












// card-invest
._card-invest {
    padding: 15px 15px 0;

}
._card-title {
    margin-bottom: calRem(15);
    & ._solid_radio {
        margin-bottom: -#{calRem(8)};
    }
    & label{
        display: inline-block;
        color: $c-white;
        background: $c-high;
        font-size: calRem(20);
        padding: 2px calRem(14);
        text-align: center;
        border-radius: 2px;
        margin-left: calRem(16);
    }
}
._card-wrap,
._card-group {
    border: 1px solid $c-stonegrey;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(241,241,241,.9);
}
._card-wrap {
    
    ._wrap-title {
        position: relative;
        height: calRem(64);
        line-height: calRem(66);
        border-bottom: 1px solid $c-stonegrey;
        font-size: 0;

        & i{
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -#{calRem(17)};
            margin-left: -0.5px;
            display: inline-block;
            width: 1px;
            height: calRem(34);
            background: $c-stonegrey;
        } 
    }
    ._wrap-content {
        font-size: 0;
    }
    ._wrap-title > span,
    ._wrap-content > span
     {
        display: inline-block;
        width: 50%;
        text-align: center;
    }
    ._wrap-content > span {
        height: calRem(111);
        line-height: calRem(111);
        & input {
            display: inline-block;
            width: calRem(162);
            height: calRem(50);
            text-align: center;
            color: $c-black;
            font-size: calRem(30);
            border: 1px solid $c-stonegrey;
            margin-right: 2px;
        }
    }

}

._card-group {
    padding: calRem(18);
    background: $c-white;
    &._active {
        background: $c-cream;
    }
    & p{
        font-size: calRem(24);
        color: $c-grey;
        margin: 0;
        padding: 0;
    }
    & ._card-amount {
        position: relative;
        padding: calRem(16) 0 calRem(20);

        & span {
            display: inline-block;
            width: calRem(210);
            color: $c-black;
            font-size: calRem(30);
            text-align: center;
        }
        & i{
            position: absolute;
            top: calRem(30);
            right: calRem(10);
        }
    }
}

