// 文本类型控件的样式
._text {
    font-weight: normal;
    color: $text-color-grey;
    font-size: $text-size-24px;
}
._highlight {
    font-weight: normal;
    color: $text-color-high;
    font-size: $text-size-24px;
}
._skeleton {
    display: inline-block;
    padding: 4px;
    color: #fff;
    border-radius: 4px;
    background-color: $bgcolor-high;
    font-size: $text-size-24px;
}

// 图片与图标类型控件的样式
._icon {
    color: $text-color-grey;
}
._image {
    display: block;
    border: none;
}

// 按钮类型控件的样式
button {
    display: block;
    width: 100%;
    padding: 0;
}
// <b-button/>
._button {
    background-color: $bgcolor-white;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><rect fill='none' stroke='#d7ac62' stroke-width='1px' x='0' y='0' width='100%' height='100%' rx='3px' ry='3px'/></svg>");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    color: $text-color-high;
    border: 0;
    border-radius: $border-radius;
    box-sizing: border-box;
}
.hairlines ._button {
    background-image: none;
    border: $border-2x-high;
}
@media only screen and (min-width: 412px) {
    .hairlines ._button {
        border: $border-3x-high;
    }
}

// <b-rectangular-button/>
._rectangular_button {
    background-color: $bgcolor-white;
    color: $text-color-high;
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
}

// <b-tab-button/>
._tab_button {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><rect fill='none' stroke='#d7ac62' stroke-width='1px' x='0' y='0' width='100%' height='100%'/></svg>");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    background-color: $bgcolor-white;
    color: $text-color-high;
    border: 0;
    box-sizing: border-box;
}
._tab_button_left {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><rect fill='none' stroke='#d7ac62' stroke-width='1px' x='0' y='0' width='100%' height='100%' rx='3px' ry='3px'/></svg>");
}
._tab_button_right {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><rect fill='none' stroke='#d7ac62' stroke-width='1px' x='0' y='0' width='100%' height='100%'/></svg>");
}
.hairlines ._tab_button {
    background-image: none;
    border: $border-2x-high;
}
@media only screen and (min-width: 412px) {
    .hairlines ._tab_button {
        border: $border-3x-high;
    }
}
.hairlines ._tab_button_left {
    border-right: 0;
    border-radius: $border-radius 0 0 $border-radius;
}
.hairlines ._tab_button_middle {
    border-right: 0;
}
.hairlines ._tab_button_right {
    border-radius: 0 $border-radius $border-radius 0;
}

// filled = 'true'
._button_filled {
    color: $text-color-white;
    border: 0;
    background-image: none;
    background-color: $bgcolor-high;
}

// <b-text-button/>
._text_button {
    background-color: $bgcolor-transparent;
    color: $text-color-high;
    border: 0;
    box-sizing: border-box;
}


// 输入控件
input {
    font-size: $text-size-30px;
    color: $text-color-black;
    border: 0;
    display: block;
    width: 100%;
    padding: 0;
}

input::-webkit-input-placeholder {
    color: #c1c1c1;
}

._checkbox,
._solid_checkbox{
    display: inline-block;
    width: .820513rem;
    height: .820513rem;
    line-height: .789474rem;
    border: 1px solid #dcdcdc;
    background-color: $bgcolor-transparent;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}
._checkbox._checkbox_active,
._solid_checkbox._solid_checkbox_active{
    border-color: $bgcolor-high;
    background-color: $bgcolor-high;
}

._solid_radio,
._radio {
    position: relative;
    display: inline-block;
    width: 1.052632rem;
    height: 1.052632rem;
    line-height: 1rem;
    border: 1px solid #dcdcdc;
    border-radius: 50%;
    background-color: $bgcolor-transparent;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}
._solid_radio_active:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -.358974rem;
    margin-left: -.358974rem;
    width: .717947rem;
    height: .717947rem;
    border: none;
    background-color: $bgcolor-high;
    border-radius: 50%;
}

._radio_active {
    border-color: $bgcolor-high;
    background-color: $bgcolor-high;
}

._toggle {
    display: inline-block;
    width: 2.684211rem;
    height: 1.631579rem;
    background-color: #fff;
    border: 1.5px solid #e5e5e5;
    border-radius: .815789rem;
    box-sizing: border-box;
    position: relative;
}
._toggle:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    width: 1.421053rem;
    height: 1.421053rem;
    border-radius: 50%;
    border: 1.5px solid rgba(229, 229, 229, .5);
    background-color: #fff;
    box-shadow: 0px 2px 9px #e5e5e5 ;
}
._toggle._toggle_active {
    background-color: $bgcolor-high;
    border-color: $bgcolor-high;
}
._toggle._toggle_active:after{
    right: 0;
    left: auto;
}

._select_text {
    vertical-align: 2px;
    // padding-right: .578947rem;
}