// 文本类型控件的样式
._text {
    font-weight: normal;
    color: $text-color-grey;
    font-size: $text-size-24px;
}
._highlight {
    font-weight: normal;
    color: $text-color-high;
    font-size: $text-size-24px;
}
._skeleton {
    display: inline-block;
    padding: 4px;
    color: #fff;
    border-radius: 4px;
    background-color: $bgcolor-high;
    font-size: $text-size-24px;
}

// 图片与图标类型控件的样式
._icon {
    color: $text-color-grey;
}
._image {
    display: block;
    border: none;
}

// 按钮类型控件的样式
button {
    display: block;
    width: 100%;
    padding: 0;
}
// <b-button/>
._button {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><rect fill='none' stroke='#d7ac62' stroke-width='1px' x='0' y='0' width='100%' height='100%' rx='3px' ry='3px'/></svg>");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $bgcolor-white;
    color: $text-color-high;
    border: 0;
    border-radius: $border-radius;
    box-sizing: border-box;
}
.hairlines ._button {
    background-image: none;
    border: $border-2x-high;
}
@media only screen and (min-width: 412px) {
    .hairlines ._button {
        border: $border-3x-high;
    }
}

// <b-rectangular-button/>
._rectangular_button {
    background-color: $bgcolor-white;
    color: $text-color-high;
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
}

// <b-tab-button/>
._tab_button {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><rect fill='none' stroke='#d7ac62' stroke-width='1px' x='0' y='0' width='110%' height='100%'/></svg>");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $bgcolor-white;
    color: $text-color-high;
    border: 0;
    box-sizing: border-box;
}
._tab_button_left {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><rect fill='none' stroke='#d7ac62' stroke-width='1px' x='0' y='0' width='110%' height='100%' rx='3px' ry='3px'/></svg>");
}
._tab_button_right {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><rect fill='none' stroke='#d7ac62' stroke-width='1px' x='0' y='0' width='100%' height='100%'/></svg>");
}
.hairlines ._tab_button {
    background-image: none;
    border: $border-2x-high;
}
@media only screen and (min-width: 412px) {
    .hairlines ._tab_button {
        border: $border-3x-high;
    }
}
.hairlines ._tab_button_left {
    border-right: 0;
    border-radius: $border-radius 0 0 $border-radius;
}
.hairlines ._tab_button_middle {
    border-right: 0;
}
.hairlines ._tab_button_right {
    border-radius: 0 $border-radius $border-radius 0;
}


._button_filled {
    color: $text-color-white;
    border: 0;
    background-image: none;
    background-color: $bgcolor-high;
}

._text_button {
    outline: none;
    border: none;
    padding: 0;
    border-radius: none;
    text-align: center;
    background-color: $bgcolor-transparent;
    font-size: $text-size-30px;
    color: $text-color-high;
}





._image_button{
    text-align: center;
}
 ._image_button_img {
    display: inline-block;
    border: none;
    padding: 0;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 auto;
}

._checkbox {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid #dcdcdc;
    background-color: $bgcolor-transparent;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}
._checkbox._checkbox_active {
    border-color: $bgcolor-high;
    background-color: $bgcolor-high;
}

._solid_checkbox {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid #dcdcdc;
    background-color: $bgcolor-transparent;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}
._solid_checkbox._solid_checkbox_active {
    border-color: $bgcolor-high;
    background-color: $bgcolor-high;
}

._radio {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #dcdcdc;
    border-radius: 50%;
    background-color: $bgcolor-transparent;
}
._radio_active:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -14px;
    margin-left: -14px;
    width: 28px;
    height: 28px;
    border: none;
    background-color: $bgcolor-high;
    border-radius: 50%;
}

._toggle {
    display: inline-block;
    width: 96px;
    height: 56px;
    background-color: #fff;
    border: 1.5px solid #e5e5e5;
    border-radius: 28px;
    position: relative;
}
._toggle:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 2px 9px #e5e5e5 ;
}
._toggle._toggle_active {
    background-color: $bgcolor-high;
    border-color: $bgcolor-high;
}
._toggle._toggle_active:after{
    right: 0;
    left: auto;
}

._childtext {
    vertical-align: 2px;
}

//input style
._input {
    font-size: $text-size-30px;
    color: $text-color-black;
    text-align: right;
    outline: none;
    width: 100%;
    margin: 0;
    padding: 0;
}