@font-face {font-family: "pingan";
  src: url('iconfont/iconfont.eot'); /* IE9*/
  src: url('iconfont/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont/iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.gum .lego {
    @import "core.scss";
}

// Patch for gum styles
@import "patch.scss";