.lego {
  font-family:"lego" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-flag:before { content: "\e612"; }

.i-cross:before { content: "\e60e"; }

.i-gear:before { content: "\e620"; }

.i-ellipses:before { content: "\e60d"; }

.i-plane:before { content: "\e610"; }

.i-angle-left:before { content: "\e614"; }

.i-calendar:before { content: "\e600"; }

.i-share:before { content: "\e606"; }

.i-check:before { content: "\e607"; }

.i-lightning:before { content: "\e608"; }

.i-arrow-up:before { content: "\e609"; }

.i-plus:before { content: "\e617"; }

.i-minus:before { content: "\e618"; }

.i-clock:before { content: "\e601"; }

.i-check-hand-written:before { content: "\e611"; }

.i-indicator:before { content: "\e613"; }

.i-bell-solid:before { content: "\e60b"; }

.i-check-solid:before { content: "\e60a"; }

.i-check-bold:before { content: "\e602"; }

.i-bell:before { content: "\e603"; }

.i-lightning-solid:before { content: "\e604"; }

.i-i-hollow:before { content: "\e605"; }

.i-hourglass-solid:before { content: "\e60c"; }

.i-eye:before { content: "\e689"; }

.i-cash-hollow:before { content: "\e61b"; }

.i-check-hollow:before { content: "\e61c"; }

.i-start-hollow:before { content: "\e61d"; }

.i-flag-hollow:before { content: "\e61e"; }

.i-angle-left-light:before { content: "\e615"; }

.i-cross-light:before { content: "\e616"; }

.i-angle-right-bold:before { content: "\e61a"; }

.i-magnifier:before { content: "\e619"; }

.i-eye-closed:before { content: "\e630"; }

.i-bean:before { content: "\e61f"; }

.i-plus-light:before { content: "\e621"; }

.i-minus-light:before { content: "\e622"; }

.i-number-zero:before { content: "\e623"; }

.i-number-one:before { content: "\e624"; }

.i-number-two:before { content: "\e625"; }

.i-number-three:before { content: "\e626"; }

.i-number-five:before { content: "\e627"; }

.i-number-six:before { content: "\e628"; }

.i-number-seven:before { content: "\e629"; }

.i-number-nine:before { content: "\e62b"; }

.i-percent:before { content: "\e62c"; }

.i-point:before { content: "\e62d"; }

.i-number-four:before { content: "\e62f"; }

.i-number-eight:before { content: "\e62a"; }

.i-warning:before { content: "\e652"; }

.i-hammer:before { content: "\e653"; }

.i-angle-down:before { content: "\e654"; }

.i-angle-up:before { content: "\e656"; }

.i-quote:before { content: "\e657"; }

.i-round-cross:before { content: "\e65a"; }

.i-eye-close:before { content: "\e62e"; }

.i-checkbox-no:before { content: "\e60f"; }

.i-radio-checked:before { content: "\e65c"; }

.i-checkbox-solid:before { content: "\e65d"; }