@font-face {
    font-family: "pingan";
    src: url('./css/iconfont/iconfont.eot'); /* IE9*/
    src: url('./css/iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./css/iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('./css/iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('./css/iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "pingan" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-right01:before { content: "\e607"; }
.icon-share01:before { content: "\e606"; }
.icon-calendar01:before { content: "\e600"; }
.icon-top01:before { content: "\e609"; }
.icon-minus01:before { content: "\e618"; }
.icon-plus01:before { content: "\e617"; }

.icon-calendar:before {
    content: "\e600";
}
.icon-shizhong:before {
    content: "\e601";
}
.icon-chenggongright:before {
    content: "\e602";
}
.icon-tishibell:before {
    content: "\e603";
}
.icon-fail:before {
    content: "\e604";
}
.icon-share:before {
    content: "\e606";
}
.icon-right:before {
    content: "\e607";
}
.icon-fail01:before {
    content: "\e608";
}
.icon-top:before {
    content: "\e609";
}
.icon-chenggong:before {
    content: "\e60a";
}
.icon-bell:before {
    content: "\e60b";
}
.icon-feiji:before {
    content: "\e610";
}
.icon-dagou:before {
    content: "\e611";
}
.icon-icon:before {
    content: "\e612";
}
.icon-jieshu01:before {
    content: "\e613";
}
.icon-jia:before,
.icon-icon-jia:before {
    content: "\e617";
}
.icon-minus:before {
    content: "\e618";
}
.icon-attention:before {
    content: "\e605";
}
.icon-bening:before {
    content: "\e60c";
}
.icon-guanbi:before {
    content: "\e60e";
}
.icon-gengduo:before {
    content: "\e60d";
}
.icon-fenxiangan:before {
    content: "\e60f";
}
.icon-fanhui:before {
    content: "\e614";
}
.icon-shuhuiri:before {
    content: "\e61b" !important;
}
.icon-jieshu:before {
    content: "\e61c" !important;
}
.icon-qishiri:before {
    content: "\e61d" !important;
}
.icon-rengoukaishi:before {
    content: "\e61e" !important;
}
.icon-fanhui1:before {
    content: "\e615";
}
.icon-guanbi1:before {
    content: "\e616";
}
.icon-haha:before {
    content: "\e619";
}
.icon-iconfrontmoban:before {
    content: "\e61a";
}

/*new iconfonts added by chensonghao*/
@font-face {font-family: "iconfontcsh";
  src: url('iconfontcsh.eot'); /* IE9*/
  src: url('iconfontcsh.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfontcsh.woff') format('woff'), /* chrome, firefox */
  url('iconfontcsh.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfontcsh.svg#iconfontcsh') format('svg'); /* iOS 4.1- */
}

.iconfontcsh {
  font-family:"iconfontcsh" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.iconcsh-warn:before { content: "\e600"; }
.iconcsh-hammer:before { content: "\e601"; }
.iconcsh-notice:before { content: "\e602"; }
.iconcsh-eye-open:before { content: "\e603"; }
.iconcsh-eye-close:before { content: "\e604"; }
.iconcsh-unfold:before { content: "\e605"; }
.iconcsh-fold:before { content: "\e606"; }
