@charset "UTF-8";

@import 'variables.scss';
@import 'svg.scss';
@import 'iconfont.scss';

html, body, #wrapper {
    height: 100%;
}

html {
    font-size: 16px;
}
@media only screen and (min-width: 360px) {
    html { font-size: 18px; }
}
@media only screen and (min-width: 375px) {
    html { font-size: 19px; }
}
@media only screen and (min-width: 412px) {
    html { font-size: 21px; }
}

body {
    font-family: PingFangSC-Regular, sans-serif;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
}

._font-light {
    font-family: PingFangSC-Light, sans-serif;
}
._font-medium {
    font-family: PingFangSC-Medium, sans-serif;
}

// 所有 color 属性列表
._text_color_black {
    color: $text-color-black;
}
._text_color_grey {
    color: $text-color-grey;
}
._text_color_light {
    color: $text-color-light;
}
._text_color_high {
    color: $text-color-high;
}

._text_size_22px {
    font-size: $text-size-22px;
}

// 所有 background-color 属性列表


@import 'structure.scss';