@charset 'UTF-8';

@import 'variables.scss';
@import 'svg.scss';
@import 'iconfont.scss';

@import 'basic.scss';
@import 'structure.scss';
@import 'page.scss';

html, body, #wrapper {
    height: 100%;
}

html {
    font-size: 16px;
}
@media only screen and (min-width: 360px) {
    html { font-size: 18px; }
}
@media only screen and (min-width: 375px) {
    html { font-size: 19px; }
}
@media only screen and (min-width: 412px) {
    html { font-size: 21px; }
}

body {
    font-family: PingFangSC-Regular, sans-serif;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
}

button, input {
    font-family: PingFangSC-Regular, sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}

._font-light {
    font-family: PingFangSC-Light, sans-serif;
}
._font-medium {
    font-family: PingFangSC-Medium, sans-serif;
}
 
// 所有 color 属性列表
._text_color_white {
    color: $text-color-white;
}
._text_color_black {
    color: $text-color-black;
}
._text_color_grey {
    color: $text-color-grey;
}
._text_color_light {
    color: $text-color-light;
}
._text_color_high {
    color: $text-color-high;
}

// 所有字体大小
._text_size_22px {
    font-size: $text-size-22px;
}
._text_size_24px {
    font-size: $text-size-24px;
}
._text_size_30px {
    font-size: $text-size-30px;
}
._text_size_32px {
    font-size: $text-size-32px;
}
._text_size_34px {
    font-size: $text-size-34px;
}
._text_size_36px {
    font-size: $text-size-36px;
}
._text_size_40px {
    font-size: $text-size-40px;
}
._text_size_60px {
    font-size: $text-size-60px;
}
._text_size_120px {
    font-size: $text-size-120px;
}

// 所有 background-color 属性列表
._bgcolor_white {
    background-color: $bgcolor-white;
}
._bgcolor_high {
    background-color: $bgcolor-high;
}
._bgcolor_high_tapping {
    background-color: $bgcolor-high-tapping;
}
._bgcolor_transparent {
    background-color: $bgcolor-transparent;
}
._bgcolor_lightgrey {
    background-color: $bgcolor-lightgrey;
}
._bgcolor_offwhite {
    background-color: $bgcolor-offwhite;
}
._bgcolor_gradient {
    background: $bgcolor-gradient;
    background: $bgcolor-gradient-webkit;
}


// //微信分享
// ._share {
//     position: fixed;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     z-index: 3;
//     background-color: #f5f5f5;
// }

// test LEGO UI 页面层级
@mixin transform($z: 0px) {
    -webkit-transform: translateX(15px) rotateX(40deg) rotate(10deg) skew(-20deg) translateZ($z);
    transform: translateX(15px) rotateX(40deg) rotate(10deg) skew(-20deg) translateZ($z);
}
._layers {
    position: relative;
    height: 300px;
}
._layers_common {
    position: absolute;
    left: 50%;
    width: 150px;
    height: 200px;
    margin-left: -75px;
    box-sizing: border-box;
    color: #000;
    font-size: $text-size-30px;
    -webkit-transition: .5s;
    transition: .5s;
    border: 1px solid #dcdcdc;

}
._layers_popout {
    z-index: 10;
    background-color: transparent;
}
._layers_p_transform {
    @include transform(150px);
}
._layers_mask {
    z-index: 8;
    border-color: rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.3);
}
._layers_m_transform {
    @include transform(100px);
}
._layers_absolute {
    z-index: 5;
    border-color: rgba(40, 187, 102, 0.6);
    background-color: rgba(40, 187, 102, 0.6);
}
._layers_a_transform {
    @include transform(50px);
}
._layers_content {
    // z-index: 10;
    border-color: #f40;
    background-color: #f40;
}
._layers_c_transform {
    @include transform(0px);
}
// 成功失败页面icon
._success_icon {
    width: 3.947368rem;
    height: 3.947368rem;
    border-radius: 50%;
    background-color: #50b15b;
    line-height: 4.247368rem;
}
._failure_icon {
    width: 3.947368rem;
    height: 3.947368rem;
    border-radius: 50%;
    background-color: darkblue;
    line-height: 4.247368rem;
}