._cell, ._single-cell {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
._cell._cell_next.tapping,
._single-cell._cell_next.tapping {
    background-color: $c-offwhite;
}
._column {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
._flex-column {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
._multiline {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    -webkit-align-self: flex-start;
    align-self: flex-start;

    word-break: break-all;
    line-height: 1.5;
}
._justify-start{
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
._justify-center{
    -webkit-justify-content: center;
    justify-content: center;
}
._justify-end{
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
._align-start {
    -webkit-align-self: flex-start;
    align-self: flex-start;
}
._align-center {
    -webkit-align-self: center;
    align-self: center;
}
._align-end {
    -webkit-align-self: flex-end;
    align-self: flex-end;
}
._cell._border, ._single-cell._border {
    background-image: $img-border-btm;
    background-position: 0 100%;
    background-repeat: no-repeat;
}
._cell._border-top, ._single-cell._border-top {
    background-image: $img-border-btop;
    background-position: 0 0;
    background-repeat: no-repeat;
}