._cell, ._single-cell {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;

    padding: .368421rem 0;
    line-height: 1;
}
._column {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
._flex-column {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
._cell._border, ._single-cell._border {
    background-image: $img-border-btm;
    background-position: 0 100%;
    background-repeat: no-repeat;
}