._cell {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
._column {
    width: 1rem;
}
._flex-column {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
._single-column {
    display: block;
}