// 以下为字符颜色值
$text-color-white   : #fff;
$text-color-black   : #333;
$text-color-grey    : #666;
$text-color-light   : #999;
$text-color-high    : #d7ac62;

$bgcolor-white      : #fff;
$bgcolor-high       : #d7ac62;
$bgcolor-high-tapping       : #b38f47;
$bgcolor-transparent: transparent;
$bgcolor-lightgrey  : #dcdcdc;

// 以下为文字大小的对应关系，左侧为视觉标准单位，右侧为 rem 值
$text-size-22px     : .578947rem;
$text-size-24px     : .631579rem;
$text-size-30px     : .789474rem;
$text-size-32px     : .842105rem;
$text-size-34px     : .894737rem;
$text-size-36px     : .947368rem;