// 以下为字符颜色值
$text-color-white   : #fff;
$text-color-black   : #333;
$text-color-grey    : #666;
$text-color-light   : #999;
$text-color-high    : #d7ac62;

$bgcolor-white      : #fff;

// 以下为文字大小的对应关系，左侧为视觉标准单位，右侧为 rem 值
$text-size-12px     : .631579rem;