<p-main>
    <s-single-cell height='2'>
        <s-flex-column width="13" align="center">
            <b-text size="30" color="black">LEGO UI</b-text>
        </s-flex-column>
    </s-single-cell>
    <s-cell height='3'>
        <s-column width=".789474" align="left">
        </s-column>
        <s-column width="13" align="left">
            <b-text size="24" color="grey">LEGO UI是基于vue组件来设计的基础组件库</b-text>
        </s-column>
    </s-cell>
    <s-cell height='2.5' bgcolor="cream">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="light">组合元素</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="ellipses" size="28" color="light"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>

    <a-table bgcolor='white'>
        <select-row id='a-dock'     label='按钮'></select-row>
        <select-row id='a-table'    label='表格&amp;空行'></select-row>
        <select-row id='a-panel'    label='文字面板'></select-row>
        <select-row id='a-flype'    label='可折叠提示'></select-row>
        <select-row id='a-stick'    label='可关闭提示'></select-row>
        <select-row id='a-remarks'  label='注意事项'></select-row>
        <select-row id='a-protocol' label='协议'></select-row>
        <select-row id='a-password' label='交易密码'></select-row>
        <select-row id='a-stages'   label='进度条'></select-row>
        <select-row id='a-stepwise' label='完成进度'></select-row>
        <select-row id='a-timeline' label='时间线'></select-row>
        <select-row id='a-lead'     label='头条'></select-row>
    </a-table>

    <s-cell height='2.5' bgcolor="cream">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="light">基础元素</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="ellipses" size="28" color="light"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>

    <a-table bgcolor='white'>
        <select-row id='text'   label='文本'></select-row>
        <select-row id='button' label='按钮'></select-row>
        <select-row id='field'  label='表单'></select-row>
        <select-row id='icon'   label='图标'></select-row>
        <select-row id='image'  label='图片'></select-row>
        <select-row id='list'   label='列表'></select-row>
    </a-table>

    <s-cell height='2.5' bgcolor="cream">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="light"></b-text>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
</p-main>