<p-main>
    <s-single-cell height='2'>
        <s-flex-column width="13" align="center">
            <b-text size="30" color="black">LEGO UI</b-text>
        </s-flex-column>
    </s-single-cell>
    <s-cell height='3'>
        <s-column width=".789474" align="left">
        </s-column>
        <s-column width="13" align="left">
            <b-text size="24" color="grey">LEGO UI是基于vue组件来设计的基础组件库</b-text>
        </s-column>
    </s-cell>
    <s-cell height='2.5' bgcolor="#f0f0f0">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="light">组合元素</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="ellipses" size="28" color="light"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
    <s-cell height='2' id="a-table" bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">表格 &amp; 空行占位</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
    <s-cell height='2' id="a-dock" bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">按钮组件</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>


    <s-cell height='2.5' bgcolor="#f0f0f0">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="light">基础元素</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="ellipses" size="28" color="light"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
    <s-cell height='2' id="text" bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">文本</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
    <s-cell height='2' id="button" bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">按钮</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
    <s-cell height='2' id="field" bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">表单</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
    <s-cell height='2' id="icon" bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">图标</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
    <s-cell height='2' id="image" bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">图片</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
    <s-cell height='2' id="list" bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">列表</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>

    <s-single-cell height=".368421" border="true" bgcolor="#ffffff">
    </s-single-cell>

    <s-cell height='2.5' bgcolor="#f0f0f0">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="light">基础组件</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="ellipses" size="28" color="light"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
    <s-cell height='2' bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">弹框</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
    <s-cell height='2' bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">按钮</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
    <s-cell height='2' bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">表单</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
    <s-cell height='2' bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">图标</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
    <s-cell height='2' bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">图片</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
    <s-cell height='2' bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">列表</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>

    <s-single-cell height=".368421" border="true" bgcolor="#ffffff">
    </s-single-cell>

    <s-cell height='2.5' bgcolor="#f0f0f0">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="light">层级规范</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="ellipses" size="28" color="light"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
</p-main>