<p-main>
    <s-single-cell height='2'>
        <s-flex-column width="13" align="center">
            <b-text size="30" color="black">LEGO UI</b-text>
        </s-flex-column>
    </s-single-cell>
    <s-cell height='3'>
        <s-column width=".789474" align="left">
        </s-column>
        <s-column width="13" align="left">
            <b-text size="24" color="grey">LEGO UI是基于vue组件来设计的基础组件库</b-text>
        </s-column>
    </s-cell>
    <s-cell height='2.5' bgcolor="cream">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="light">组合元素</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="ellipses" size="28" color="light"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
    <s-cell height='2' id="a-table" bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">表格 &amp; 空行占位</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
    <s-cell height='2' id="a-dock" bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">按钮组件</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
    <s-cell height='2' id="a-panel" bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">文字面板控件</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>

    <s-cell height='2' id="a-flype" bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">折叠组件</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
    <s-cell height='2' id="a-notetips" bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">顶部提示信息</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
    <s-cell height='2' id="a-hammertips" bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">底部提示信息</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
    <s-cell height='2' id="a-protocol" bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">同意协议组件</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
    <s-cell height='2' id="a-password" bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">密码框</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
    <s-cell height='2' id="a-progress" bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">进度条</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
    <s-cell height='2' id="a-stepwise" bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">完成进度</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
    <s-cell height='2' id="a-timeline" bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">产品时间点</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
    <s-cell height='2' id="a-assetheader" bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">资产头部组件</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>

    <s-cell height='2.5' bgcolor="cream">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="light">基础元素</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="ellipses" size="28" color="light"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
    <s-cell height='2' id="text" bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">文本</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
    <s-cell height='2' id="button" bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">按钮</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
    <s-cell height='2' id="field" bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">表单</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
    <s-cell height='2' id="icon" bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">图标</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
    <s-cell height='2' id="image" bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">图片</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
    <s-cell height='2' id="list" bgcolor="#f0f0f0" border="true">
        <s-flex-column></s-flex-column>
        <s-column width="14.3158" align="left">
            <b-text size="24" color="black">列表</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
            <b-icon name="angle-right-bold" size="24" color="black"></b-icon>
        </s-column>
        <s-flex-column></s-flex-column>
    </s-cell>
</p-main>