<remarks type='hammer'>
    <b-text color='lightgrey' size='24'>您可在</b-text>
    <b-text color='coral'>2017-09-10 15:00</b-text>
    <b-text color='lightgrey' size='24'>前在资产明细中预约赎回该产品</b-text>
</remarks>

<br>
<remarks type='hammer' width='82'>
    <b-text color='lightgrey' size='24'>前在资产明细中预约赎回该产品前在资产明细中预约赎回该产品前在资产明细中预约赎回该产品前在资产明细中预约赎回该产品前在资产明细中预约赎回该产品前在资产明细中预约赎回该产品前在资产明细中预约赎回该产品前在资产明细中预约赎回该产品</b-text>
</remarks>
<br>
<remarks type='hammer'>
    <timeline line-type='2' label-font='1' desc-font='0.8' desc-x='30'  height='180'>
        <timepoint label="提交申购" desc="预计2016-04-19"></timepoint>
        <timepoint label="审核成功" desc="预计2016-04-20"></timepoint>
        <timepoint label="等待结果" desc="预计2016-04-21"></timepoint>
        <timepoint label="等待结果" desc="预计2016-04-21"></timepoint>
    </timeline>
</remarks>
<br>
<remarks type='hammer'>
    <timeline line-type='2' label-font='1' desc-font='0.8' height='160'>
        <timepoint label="第一次扣款在5月12日已进行扣款" ></timepoint>
        <timepoint label="第一次扣款在6月12日已进行扣款" ></timepoint>
        <timepoint label="后续每月12日，将为你定期投入，持" labelmore='续产生收益' ></timepoint>
</remarks>
<br>
<remarks type='hammer'>
    <timeline line-type='2' label-font='1' desc-font='1' height='220'>
        <timepoint label="第一次扣款在5月12日已进行扣款" ></timepoint>
        <timepoint label="第一次扣款在6月12日已进行扣款" ></timepoint>
        <timepoint label="后续每月12日，将为你定期投入，"  labelmore='持续产生收益'></timepoint>
        <timepoint label="后续每月12日，将为你定期投入，" labelmore='持续产生收益'></timepoint>
</remarks>
<remarks type='hammer'>
    <timeline>
        <timepoint label="提交申购" desc="2016-04-19"></timepoint>
        <timepoint label="审核成功" desc="2016-04-20"></timepoint>
        <timepoint label="等待结果" desc="2016-04-21"></timepoint>
    </timeline>
</remarks>
<br>
<remarks type='失败原因'>
    失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因
</remarks>