<s-cell height="1" bgcolor="white"></s-cell>

<lead footer="申购成功">
    交易成功
</lead>

<s-cell height="1" bgcolor="white"></s-cell>

<lead>支付中</lead>

<s-cell height="1" bgcolor="white"></s-cell>

<lead header="持有资产">
    1110.00
</lead>

<s-cell height="1" bgcolor="white"></s-cell>

<lead header="GE***项目" footer="计划创建时间：2005-07-01">
    李乐乐
</lead>

<s-cell height="1" bgcolor="white"></s-cell>

<lead header="GE***项目" footer="计划创建时间：2005-07-01" >
    李乐乐
</lead>

<s-cell height="1" bgcolor="white"></s-cell>

<lead label='1' :top-data='list1'></lead>
<lead desc='今七日化收益率' invest='6.00%' >
    <lead-item >每万分收益（元）</lead-item>
    <lead-item >0.34</lead-item>
    <lead-item >起购金额（元）</lead-item>
    <lead-item >1000</lead-item>
    <lead-item >理财期限</lead-item>
    <lead-item >灵活存取</lead-item>
</lead>

<s-cell height="1" bgcolor="white"></s-cell>

<lead label='2' :top-data='list2'></lead>
<lead desc='昨日收益' invest='10.00' >
    <lead-item >每万分收益（元）</lead-item>
    <lead-item >0.34</lead-item>
    <lead-item >起购金额（元）</lead-item>
    <lead-item >1000</lead-item>
</lead>
<lead desc='持有资产（元）' :login=true>
    <lead-item >每万分收益（元）</lead-item>
    <lead-item >0.34</lead-item>
    <lead-item >起购金额（元）</lead-item>
    <lead-item >1000</lead-item>
</lead>

<s-cell height="1" bgcolor="white"></s-cell>