<timeline >
    <!--<timepoint :active='true' width='25%'>
        <b-text slot='header'>提交申购</b-text>
        <b-text slot='datatime'>2017-01-01</b-text>
    </timepoint>
    <timepoint width='25%'>
        <b-text slot='header'>提交申购</b-text>
        <b-text slot='datatime'>2017-01-02</b-text>
    </timepoint>
    <timepoint width='25%'>
        <b-text slot='header'>提交申购</b-text>
        <b-text slot='datatime'>2017-01-03</b-text>
    </timepoint>
    <timepoint width='25%'>
        <b-text slot='header'>提交申购</b-text>
        <b-text slot='datatime'>2017-01-04</b-text>
    </timepoint>-->
</timeline>