<stub></stub>
<timeline>
    <timepoint label="提交申购" desc="2016-04-19"></timepoint>
    <timepoint label="审核成功" desc="2016-04-20"></timepoint>
    <timepoint label="等待结果" desc="2016-04-21"></timepoint>
</timeline>
<stub></stub>
<timeline>
    <timepoint label="提交申购" desc="2016-04-19"></timepoint>
    <timepoint label="审核成功" desc="2016-04-20"></timepoint>
    <timepoint label="等待结果" desc="2016-04-21"></timepoint>
    <timepoint label="等待结果" desc="2016-04-21"></timepoint>
</timeline>
<timeline line-type='2'>
    <timepoint label="提交申购" desc="2016-04-19"></timepoint>
    <timepoint label="审核成功" desc="2016-04-20"></timepoint>
    <timepoint label="等待结果" desc="2016-04-21"></timepoint>
    <timepoint label="等待结果" desc="2016-04-21"></timepoint>
</timeline>
<timeline line-type='2'>
    <timepoint label="提交申购" ></timepoint>
    <timepoint label="审核成功" ></timepoint>
    <timepoint label="等待结果" ></timepoint>
    <timepoint label="等待结果" ></timepoint>
</timeline>
<timeline line-type='2'>
    <timepoint label="提交申购" desc="2016-04-19"></timepoint>
    <timepoint label="审核成功" desc="2016-04-20"></timepoint>
    <timepoint label="等待结果" desc="2016-04-21"></timepoint>
</timeline>