<s-cell height="1" bgcolor="white" >
</s-cell>
<assetheader >
    <span slot="thintitle">交易成功</span>
    <span slot="minidesc">申购成功 </span>
</assetheader>
<s-cell height="1" bgcolor="white" >
</s-cell>
<assetheader :oneline='true' >
    <span slot="thintitle">支付中</span>
</assetheader>
<s-cell height="1" bgcolor="white" >
</s-cell>
<assetheader height='true'>
    <span slot="minidesc">持有资产  </span>
    <span slot="boldtitle">1110.00</span>
</assetheader>
<s-cell height="1" bgcolor="white" >
</s-cell>
<assetheader height='true' :type='true' >
    <span slot="ge-title">GE***项目</span>
    <span slot="ge-name">李乐乐</span>
    <span slot="ge-select">计划详情</span>
    <span slot="ge-time">计划创建时间：2005-07-01</span>
</assetheader>

<modal type="1" >
    <span slot="content">小主，这么英明的资产调整真的要终止吗？</span>
</modal> 