<s-cell height="1" bgcolor="white"></s-cell>

<lead footer="申购成功">
    交易成功
</lead>

<s-cell height="1" bgcolor="white"></s-cell>

<lead>支付中</lead>

<s-cell height="1" bgcolor="white"></s-cell>

<lead header="持有资产">
    1110.00
</lead>

<s-cell height="1" bgcolor="white"></s-cell>

<lead header="GE***项目" footer="计划创建时间：2005-07-01">
    李乐乐
</lead>

<s-cell height="1" bgcolor="white"></s-cell>

<lead header="GE***项目" footer="计划创建时间：2005-07-01" >
    李乐乐
</lead>

<s-cell height="1" bgcolor="white"></s-cell>

<lead label='1' :top-data='list1'></lead>

<s-cell height="1" bgcolor="white"></s-cell>

<lead label='2' :top-data='list2'></lead>

<s-cell height="1" bgcolor="white"></s-cell>