<p-main bgcolor='offwhite'>
    <stub></stub>
    
    <panel edit='false' bgcolor='white' border='false'>
        <fixed-row height='5'></fixed-row>
        <a-title id='save' label='联系方式' subtitle='(单位：元)' comment='2000.00'>保存</a-title>
        <a-title id='save' label='联系方式' >保存</a-title>
        <text-row label='姓名'>李乐乐</text-row>
        <text-row label='证件类型'>21234567989456462</text-row>
        <text-row label='出生日期'>1995-02-05</text-row>
        <text-row label='性别'>男</text-row>
        <text-field-row label='性别' placeholder='请输入'>男</text-field-row>
    </panel>
</p-main>