<stick>产品过往业绩仅供参考产品过往业绩仅供参考产品过往业绩仅供参考产品过往业绩仅供参考产品过往业绩仅供参考</stick>
<lead footer="申购成功">
    交易成功
</lead>
<s-cell class='_cell_next' height="2.473684" border="true" bgcolor='white'>
    <s-flex-column>
    </s-flex-column>
    <s-column width="17" align="left">
        <b-text size="30" color="black">2017年天睿新科员工保险方案</b-text>
    </s-column>
    <s-column width="1" align="right">
        <b-select size=".75" ></b-select>
    </s-column>
    <s-flex-column>
    </s-flex-column>
</s-cell>
<s-cell class='_cell_next' height="2.473684" border="true" bgcolor='white'>
    <s-flex-column>
    </s-flex-column>
    <s-column width="10" align="left">
        <b-text size="30" color="grey">订单金额</b-text>
    </s-column>
    <s-column width="8" align="right">
        <b-text size="30" color="grey">3000.00元</b-text>
    </s-column>
    <s-flex-column>
    </s-flex-column>
</s-cell>
<s-cell class='_cell_next' height="2.473684" border="true" bgcolor='white'>
    <s-flex-column>
    </s-flex-column>
    <s-column width="10" align="left">
        <b-text size="30" color="grey">积分抵扣</b-text>
    </s-column>
    <s-column width="8" align="right">
        <b-text size="30" color="grey">3000.00元</b-text>
    </s-column>
    <s-flex-column>
    </s-flex-column>
</s-cell>


<stick closable="false">产品过往业绩仅供参考</stick>

<lead header="GE***项目" footer="计划创建时间：2005-07-01" link="计划详情" link-id="detail-btn">
    李乐乐
</lead>