<stepwise label='已完成 ' :rate='rate' :total='total'> 
</stepwise>

<card-invest :rate="0" >
    <!--<slot name="labelname"></slot>-->
    <span slot="title">组合1</span>
    <span slot="labelname">高风险</span>
    <span slot="currentrate">当前比例</span>
    <span slot="changerate">变更比例</span>
    <span slot="currentshare">100</span>
</card-invest>

<card-invest :rate="100">
    <span slot="title">组合2</span>
    <span slot="labelname">中低风险</span>
    <span slot="currentrate">当前比例</span>
    <span slot="changerate">变更比例</span>
    <span slot="currentshare">0</span>
</card-invest>

<card-invest :type="true">
    <span slot="title">组合1</span>
    <span slot="labelname">高风险</span>
    <span slot="currentrate">当前份额</span>
    <span slot="changerate">当前市值</span>
    <span slot="currentshare">1866.7183</span>
    <span slot="currentvalue">13104.55</span>
</card-invest>

<card-invest :type="true" :nolabel="true">
    <span slot="title">组合2</span>
    <span slot="currentrate">当前份额</span>
    <span slot="changerate">当前市值</span>
    <span slot="currentshare">0</span>
    <span slot="currentvalue">0</span>
</card-invest>

<s-cell height="2.789474" border="true" bgcolor="white" >
    <s-flex-column>
    </s-flex-column>
    <s-column width="5.5263" align="center">
        <b-text size="30" color="grey">公司账户</b-text>
    </s-column>
    <s-column width="5.5263" align="center">
        <b-text size="30" color="grey">个人账户</b-text>
    </s-column>
    <s-column width="5.5263" align="center">
        <b-text size="30" color="grey">单位净值</b-text>
    </s-column>
    <s-flex-column>
    </s-flex-column>
</s-cell>
<card-invest :active="true" :type="true" :nolabel="true" :card="2">
    <span slot="title">组合1</span>
    <span slot="company">0</span>
    <span slot="private">13104.55</span>
    <span slot="netvalue">7.0201</span>
</card-invest>
<card-invest :type="true" :nolabel="true" :card="2">
    <span slot="title">组合2</span>
    <span slot="company">9189.97</span>
    <span slot="private">0</span>
    <span slot="netvalue">3.9699</span>
</card-invest>
<card-invest :type="true" :nolabel="true" :card="2">
    <span slot="title">组合3</span>
    <span slot="company">0</span>
    <span slot="private">0</span>
    <span slot="netvalue">2.2515</span>
</card-invest>
<br><br><br><br><br><br><br>