<remarks>
    <b-text color='lightgrey' size='24'>您可在</b-text>
    <b-text color='coral'>2017-09-10 15:00</b-text>
    <b-text color='lightgrey' size='24'>前在资产明细中预约赎回该产品</b-text>
</remarks>
<br>
<br>
<remarks>
    <timeline line-type='2'>
        <timepoint label="提交申购" desc="预计2016-04-19"></timepoint>
        <timepoint label="审核成功" desc="预计2016-04-20"></timepoint>
        <timepoint label="等待结果" desc="预计2016-04-21"></timepoint>
    </timeline>
</remarks>
<br>
<remarks>
    <timeline line-type='2'>
        <timepoint label="第一次扣款在5月12日已进行扣款" ></timepoint>
        <timepoint label="第一次扣款在6月12日已进行扣款" ></timepoint>
        <timepoint label="后续每月12日，将为你定期投入，持续产生收益" ></timepoint>
    </timeline>
</remarks>
<br>
<remarks :mark-type='true'>
    失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因
</remarks>