
<s-cell  height='4'>
    <s-column width=".789474" align="left">
    </s-column>
    <s-flex-column>
        <timepoint :active='true'>
            <b-text slot='header'>提交申购</b-text>
            <b-text slot='datatime'>2017-01-01</b-text>
        </timepoint>
    </s-flex-column>
    <s-flex-column>
        <timepoint>
            <b-text slot='header'>提交申购</b-text>
            <b-text slot='datatime'>2017-01-02</b-text>
        </timepoint>
    </s-flex-column><s-flex-column>
        <timepoint>
            <b-text slot='header'>提交申购</b-text>
            <b-text slot='datatime'>2017-01-02</b-text>
        </timepoint>
    </s-flex-column>
    <s-column width=".789474" align="left">
    </s-column>
</s-cell>