<p-main bgcolor='offwhite'>
    <tab-button>
        <a-button id='all'>全部</a-button>
        <a-button id='pay'>支出</a-button>
        <a-button id='income'>收入</a-button>
    </tab-button>
    <tab-button>
        <a-button id='purchase'>申购规则</a-button>
        <a-button id='redeem'>赎回规则</a-button>
    </tab-button>
    <tab-button :radius="true">
        <a-button id='all'>7日</a-button>
        <a-button id='pay'>1个月</a-button>
        <a-button id='income'>2个月</a-button>
    </tab-button>
    <toast>提示错误信息</toast>
    <tab-button>
        <a-button id='insurance'>保险</a-button>
        <a-button id='health'>健康</a-button>
        <a-button id='finance'>理财</a-button>
        <a-button id='restore'>自营</a-button>
        <a-button id='lottery'>彩票</a-button>
    </tab-button>
</p-main>