<p-main bgcolor='offwhite'>
    <stub></stub>
    <dock filled='true' bgcolor='white'>
        <a-button id='button1'>确定</a-button>
    </dock>
    <stub></stub>
    <dock filled='false' bgcolor='white'>
        <a-button id='button2'>确定</a-button>
    </dock>
    <stub></stub>
    <dock bgcolor='white'>
        <a-button id='cancel'>取消</a-button>
        <a-button id='ok'>确定</a-button>
    </dock>
</p-main>

<p-footer>
    <dock bgcolor='white'>
        <a-button id='f-cancel'>取消</a-button>
        <a-button id='f-ok'>确定</a-button>
    </dock>
</p-footer>