<stages step="1">
    <stage></stage>
    <stage></stage>
</stages>
<stages step="2">
    <stage></stage>
    <stage></stage>
</stages>
<stages step="1">
    <stage></stage>
    <stage></stage>
    <stage></stage>
</stages>
<stages step="2">
    <stage></stage>
    <stage></stage>
    <stage></stage>
</stages>
<stages step="3">
    <stage></stage>
    <stage></stage>
    <stage></stage>
</stages>
<stages step="1">
    <stage></stage>
    <stage></stage>
    <stage></stage>
    <stage></stage>
</stages>
<stages step="2">
    <stage></stage>
    <stage></stage>
    <stage></stage>
    <stage></stage>
</stages>
<stages step="3">
    <stage></stage>
    <stage></stage>
    <stage></stage>
    <stage></stage>
</stages>
<stages step="4">
    <stage></stage>
    <stage></stage>
    <stage></stage>
    <stage></stage>
</stages>
<stages step="1">
    <stage>领取信息1</stage>
    <stage>领取信息2</stage>
</stages>
<stages step="2">
    <stage>领取信息1</stage>
    <stage>领取信息2</stage>
</stages>
<stages step="1">
    <stage>领取信息1</stage>
    <stage>领取信息2</stage>
    <stage>领取信息3</stage>
</stages>
<stages step="2">
    <stage>领取信息1</stage>
    <stage>领取信息2</stage>
    <stage>领取信息3</stage>
</stages>
<stages step="3">
    <stage>领取信息1</stage>
    <stage>领取信息2</stage>
    <stage>领取信息3</stage>
</stages>
<stages step="1">
    <stage>领取信息1</stage>
    <stage>领取信息2</stage>
    <stage>领取信息3</stage>
    <stage>领取信息4</stage>
</stages>
<stages step="2">
    <stage>领取信息1</stage>
    <stage>领取信息2</stage>
    <stage>领取信息3</stage>
    <stage>领取信息4</stage>
</stages>
<stages step="3">
    <stage>领取信息1</stage>
    <stage>领取信息2</stage>
    <stage>领取信息3</stage>
    <stage>领取信息4</stage>
</stages>
<stages step="4">
    <stage>领取信息1</stage>
    <stage>领取信息2</stage>
    <stage>领取信息3</stage>
    <stage>领取信息4</stage>
</stages>