<p-main bgcolor='offwhite'>
    <s-cell height="3.684211" bgcolor='gradient' >
        <s-column width=".789474" align="left">
        </s-column>
        <s-flex-column>
            <b-highlight size="40">付款成功</b-highlight>
        </s-flex-column>
    </s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="9" align="left">
            <b-text size="30" color="grey">亚洲豪华型(单次旅行)</b-text>
        </s-column>
        <s-column width="9.157895" align="right">
            <b-select size=".75" ></b-select>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="4.871795" align="left">
            <b-text size="30" color="grey">订单金额</b-text>
        </s-column>
        <s-column width="13.157895" align="right">
            <b-text size="30">3000.00元</b-text>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height='.526316' bgcolor='offwhite'></s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="9" align="left">
            <b-text size="30" color="grey">本人—员工体检方案</b-text>
        </s-column>
        <s-column width="8" align="right">
            <b-text size="30" color="grey">李乐乐</b-text>
        </s-column>
        <s-column width="1" align="right">
            <b-select size=".75" ></b-select>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="9" align="left">
            <b-text size="30" color="grey">本人—员工体检方案</b-text>
        </s-column>
        <s-column width="8" align="right">
            <b-text size="30" color="grey">李乐乐</b-text>
        </s-column>
        <s-column width="1" align="right">
            <b-select size=".75" ></b-select>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height='.526316' bgcolor='offwhite'></s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="9" align="left">
            <b-text size="30" color="grey">亚洲豪华型(单次旅行)</b-text>
        </s-column>
        <s-column width="9.157895" align="right">
            <b-select size=".75" ></b-select>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
</p-main>
<p-footer>
    <s-cell height="3.157895">
        <s-flex-column>
        </s-flex-column>
        <s-column width="8.947368" align="center">
            <b-button size="24"  color="high" height="2.105263" filled="false" position="middle">取消</b-button>
        </s-column>
        <s-column width=".789474" align="center"></s-column>
        <s-column width="8.947368" align="center">
            <b-button size="24"  color="high" height="2.105263" filled="true" position="middle">付款</b-button>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
</p-footer>