    <p-main>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="6.871795" align="left">
            <b-text size="30" color="light">姓名</b-text>
        </s-column>
        <s-column width="11.157895" align="left">
            <b-text size="30">**乐</b-text>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="6.871795" align="left">
            <b-text size="30" color="light">证件类型</b-text>
        </s-column>
        <s-column width="11.157895" align="left">
            <b-text size="30">身份证</b-text>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="6.871795" align="left">
            <b-text size="30" color="light">证件号码</b-text>
        </s-column>
        <s-column width="11.157895" align="left">
            <b-text size="30">321882121930821810</b-text>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="6.871795" align="left">
            <b-text size="30" color="light">性别</b-text>
        </s-column>
        <s-column width="11.157895" align="left">
            <b-text size="30">女</b-text>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
        <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="6.871795" align="left">
            <b-text size="30" color="light">出生日期</b-text>
        </s-column>
        <s-column width="11.157895" align="left">
            <b-text size="30">1969-08-14</b-text>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
        <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="6.871795" align="left">
            <b-text size="30" color="light">手机号码</b-text>
        </s-column>
        <s-column width="11.157895" align="left">
            <b-text size="30">13323984377</b-text>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
        <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="6.871795" align="left">
            <b-text size="30" color="light">邮箱</b-text>
        </s-column>
        <s-column width="11.157895" align="left">
            <b-text size="30">13323984377</b-text>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    </p-main>