<p-main bgcolor='offwhite'>
    <s-cell height="3.684211" bgcolor='gradient'>
        <s-column width=".789474" align="left">
        </s-column>
        <s-flex-column>
            <b-highlight size="40">付款成功</b-highlight>
        </s-flex-column>
    </s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="4.871795" align="left">
            <b-text size="30" color="grey">抵扣积分</b-text>
        </s-column>
        <s-column width="13.157895" align="right">
            <b-text size="30">20000豆</b-text>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height='.526316' bgcolor='offwhite'></s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="18" align="left">
            <b-text size="30" color="grey">总单名称</b-text>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height='.526316' bgcolor='#f0f0f0'></s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="9" align="left">
            <b-text size="30" color="grey">本人—员工体检方案</b-text>
        </s-column>
        <s-column width="8" align="right">
            <b-text size="30" color="grey">李乐乐</b-text>
        </s-column>
        <s-column width="1" align="right">
            <b-select size=".75" ></b-select>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="9" align="left">
            <b-text size="30" color="grey">配偶—家属体检方案</b-text>
        </s-column>
        <s-column width="8" align="right">
            <b-text size="30" color="grey">李乐乐</b-text>
        </s-column>
        <s-column width="1" align="right">
            <b-select size=".75" ></b-select>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="9" align="left">
            <b-text size="30" color="grey">父母—家属体检方案</b-text>
        </s-column>
        <s-column width="8" align="right">
            <b-text size="30" color="grey">李乐乐</b-text>
        </s-column>
        <s-column width="1" align="right">
            <b-select size=".75" ></b-select>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="9" align="left">
            <b-text size="30" color="grey">子女—家属体检方案</b-text>
        </s-column>
        <s-column width="8" align="right">
            <b-text size="30" color="grey">李乐乐</b-text>
        </s-column>
        <s-column width="1" align="right">
            <b-select size=".75" ></b-select>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="1.5" bgcolor="offwhite">
        <s-column width=".9" align="left">
        </s-column>
        <s-column width="16" align="left">
            <b-text size="24" color="grey">订单号：hfajihefiqhreuiwqhr</b-text>
        </s-column>
    </s-cell>
    <s-cell height="1.5" bgcolor="offwhite">
        <s-column width=".9" align="left">
        </s-column>
        <s-column width="16" align="left">
             <b-text size="24" color="grey">下单时间：2016-12-13 12:12:12</b-text>
        </s-column>
    </s-cell>
</p-main>