<p-main>
    <s-cell>
        <s-column :width="10">
            <b-text>左</b-text>
        </s-column>
        <s-column :width="10">
            <b-text>中</b-text>
        </s-column>
        <s-flex-column>
            <b-text>右</b-text>
        </s-flex-column>
    </s-cell>
    <s-cell>
        <s-column :width="10">
            <b-text>银行卡号</b-text>
        </s-column>
        <s-flex-column>
            <b-text>6222157987454156</b-text>
        </s-flex-column>
    </s-cell>
    <s-cell>
        <s-column :width="10">
            <b-text>手机号码</b-text>
        </s-column>
        <s-flex-column>
            <b-text>1385545165</b-text>
        </s-flex-column>
    </s-cell>
</p-main>