<p-main >
    <s-cell height="3.684211" gradient="true" >
        <s-column width=".789474" align="left">
        </s-column>
        <s-flex-column>
            <b-highlight size="40">付款成功</b-highlight>
        </s-flex-column>
    </s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="9" align="left">
            <b-text size="30" color="grey">亚洲豪华型(单次旅行)</b-text>
        </s-column>
        <s-column width="9.157895" align="right">
            <b-select size=".75" ></b-select>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="4.871795" align="left">
            <b-text size="30" color="grey">订单金额</b-text>
        </s-column>
        <s-column width="13.157895" align="right">
            <b-text size="30">3000.00元</b-text>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height='.526316' bgcolor='#f0f0f0'></s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="9" align="left">
            <b-text size="30" color="grey">投保人</b-text>
        </s-column>
        <s-column width="9.157895" align="right">
            <b-select size=".75" >李乐乐</b-select>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
        <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="9" align="left">
            <b-text size="30" color="grey">被投保人</b-text>
        </s-column>
        <s-column width="9.157895" align="right">
            <b-select size=".75" >李乐乐</b-select>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height='.526316' bgcolor='#f0f0f0'></s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="9" align="left">
            <b-text size="30" color="grey">亚洲豪华型(单次旅行)</b-text>
        </s-column>
        <s-column width="9.157895" align="right">
            <b-select size=".75" ></b-select>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="3.157895" bgcolor="#ffffff">
         <s-flex-column>
        </s-flex-column>
        <s-column width="8.947368" align="center">
            <b-button size="34"  color="white" height="2.315789" filled="false">取消</b-button>
        </s-column>
        <s-column width=".789474" align="center"></s-column>
        <s-column width="8.947368" align="center">
            <b-button size="34"  color="white" height="2.315789" filled="true">付款</b-button>
        </s-column>
        <s-flex-column>
        </s-flex-column>
     </s-cell>
</p-main>