<p-main>
    <s-cell height="3" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="5" align="left">
            <b-text size="30" color="grey">手机号码</b-text>
        </s-column>
        <s-column width="12" align="right">
            <b-tel-field size="30" max="11" required="true" placeholder="请输入银行预留电话"></b-tel-field>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="3" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="5" align="left">
            <b-text size="30" color="grey">动态密码</b-text>
        </s-column>
        <s-column width="6" align="right">
            <b-number-field size="30" required="true" ></b-number-field>
        </s-column>
        <s-column width="6" align="right">
            <b-button height='1.5' filled='true' validate='true' seconds=30>获取验证码</b-button>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
</p-main>
