<p-main>
    <s-single-cell height="3" border="true">
        132456
    </s-single-cell>

    <s-cell height="3" border="true" bgcolor="#f0f0f0">

        <s-column width="6">
            <b-icon name="calendar"></b-icon><b-text size="1" color="black">左</b-text>
        </s-column>

        <s-column width="6">
            <b-text size="1" color="grey">中</b-text>
        </s-column>

        <s-flex-column>
            <b-text size="1" color="light">右</b-text>
        </s-flex-column>

    </s-cell>

    <s-cell height="3" border="true">
        <s-column width="6" align="left">
            <b-text>银行卡号</b-text>
        </s-column>
        <s-flex-column>
            <b-text size='1.5'>6222157987454156</b-text>
        </s-flex-column>
    </s-cell>

    <s-cell height="3" border="true">
        <s-column width="6">
            <b-text>手机号码</b-text>
        </s-column>
        <s-flex-column align="right">
            <b-text>1385545165</b-text>
        </s-flex-column>
    </s-cell>
</p-main>