<p-main>
    <s-single-cell height="2" border="true" bgcolor="#f0f0f0">
        <b-text size="28" color="grey">展示信息且支持修改的</b-text>
    </s-single-cell>
    <s-cell height="3" border="true" >
        <s-column width="4" align="left">
            <b-text size="34" color="black">面板标题</b-text>
        </s-column>
        <s-flex-column align="right">
            <b-text-button>修改</b-text-button>
        </s-flex-column>
    </s-cell>
    <s-cell height="3" border="true" >
        <s-column width="4" align="left">
            <b-text size="30" color="grey">银行卡号</b-text>
        </s-column>
        <s-flex-column align="right">
            <b-text-field>请输入银行卡号</b-text-field>
        </s-flex-column>
    </s-cell>
    <s-cell height="3" border="true" >
        <s-column width="4" align="left">
            <b-text size="30" color="grey">姓名</b-text>
        </s-column>
        <s-flex-column align="right">
            <b-text-field>*丫丫</b-text-field>
        </s-flex-column>
    </s-cell>
    <s-cell height="3" border="true" >
        <s-column width="4" align="left">
            <b-text size="30" color="grey">身份证号</b-text>
        </s-column>
        <s-flex-column align="right">
            <b-text-field>请输入身份证号</b-text-field>
        </s-flex-column>
    </s-cell>
    <s-cell height="3" border="true" >
        <s-column width="4" align="left">
            <b-text size="30" color="grey">手机号</b-text>
        </s-column>
        <s-flex-column align="right">
            <b-text-field>请输入银行预留电话</b-text-field>
        </s-flex-column>
    </s-cell>
    <s-single-cell height="2" border="true" bgcolor="#f0f0f0">
        <b-text size="28" color="grey">单行信息</b-text>
    </s-single-cell>
    <s-single-cell height="3" border="true">
        <s-flex-column align="center">
            <b-icon name="plus" size="32" color="high"></b-icon>
            <b-text size="30" color="high">添加银行卡</b-text>
        </s-flex-column>
    </s-single-cell>
</p-main>