<p>
    <b-text size="24" color="grey">普通文字</b-text>
    <b-text size="30" color="black">普通文字black</b-text>
    <b-text size="30" color="light">普通文字light</b-text>
</p>
<p>
    <b-highlight size="30" >高亮文字light</b-highlight>
</p>
<p>
    <b-skeleton size="30" >镂空文字</b-skeleton>
</p>
<div>
    <b-icon name="cross" size="34" color="grey"></b-icon>
</div>
<div>
    <b-image src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=4174023966,2613203213&fm=23&gp=0.jpg" preload=true width="5" height="4" ></b-image>
    <b-image src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=4174023966,2613203213&fm=23&gp=0.jpg" preload=false width="8" height="9" ></b-image>
</div>
<b-svg width="8" height="2"></b-svg>
<div>
<b-button width="490" height="2" filled="high"><b-text size="1" color="white"> 确认</b-text></b-button>
</div>
<div>
<b-button width="8" height="2" ><b-text size="1" color="high"> 确认</b-text></b-button>
</div>
<div>
<b-button filled="#c1c1c1"><b-text size=".75" color="white"> 确认</b-text></b-button>
</div>
<div>
<b-rectangular-button filled="high" width="8" height="2"><b-text size="1" color="white"> 确认</b-text></b-rectangular-button>
</div>
<div>
    <b-tab-button filled="high" width="8" height="2" ><b-text size="1" color="white"> 确认</b-text></b-tab-button>
</div>
<div>
    <b-image-button src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=4174023966,2613203213&fm=23&gp=0.jpg" filled="high" width="6" height="6" size=".8" color="grey" :position=true>
        分享到朋友圈
    </b-image-button>
</div>
<div>
    <b-text-button width="10" height="3" size=".8" color="light" :position=true>
        分享到朋友圈
    </b-text-button>
</div>
<div>
    <b-radio :checked=true></b-radio>
</div>
<div>
    <b-checkbox :checked=true></b-checkbox>
</div>
<div>
    <b-solid-radio :checked=true></b-solid-radio>
</div>
<div>
    <b-solid-checkbox :checked=true></b-solid-checkbox>
</div>
<div>
    <b-toggle :checked=true></b-toggle>
</div>
<div>
    <b-select :checked=true size="2" color="grey" name="angle-right-bold">请选择产品</b-select>
</div>