<h4>
    <b-text size="1" color="grey">普通文字</b-text>
    <b-text size=".8" color="black">普通文字black</b-text>
    <b-text size="1.2" color="light">普通文字light</b-text>
</h4>
<h4>
    <b-highlight size="1" color="grey">高亮文字grey</b-highlight>
    <b-highlight size=".85" color="red">高亮文字red</b-highlight>
</h4>
<h4>
    <b-skeleton size="1" bgcolor="red">镂空文字</b-skeleton>
</h4>
<div>
    <b-icon name="cross" size="2" color="#a20"></b-icon>
</div>
<div>
    <b-image src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=4174023966,2613203213&fm=23&gp=0.jpg" preload=true width="5" height="4" ></b-image>
    <b-image src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=4174023966,2613203213&fm=23&gp=0.jpg" preload=false width="8" height="9" ></b-image>
</div>
<b-svg width="8" height="2"></b-svg>
<div>
<b-button width="8" height="2" filled="#f30"><b-text size="1" color="white"> 确认</b-text></b-button>
</div>
<div>
<b-button width="8" height="2" ><b-text size="1" color="#f30"> 确认</b-text></b-button>
</div>
<div>
<b-button filled="#c1c1c1"><b-text size=".75" color="#f10"> 确认</b-text></b-button>
</div>
<div>
<b-rectangular-button filled="pink" width="8" height="2"><b-text size="1" color="white"> 确认</b-text></b-rectangular-button>
</div>
<div>
    <b-tab-button filled="#f10" width="8" height="2" :position="{'tl': 4, 'tr': 5, 'bl': 4, 'br': 7}"><b-text size="1" color="white"> 确认</b-text></b-tab-button>
</div>
<div>
    <b-image-button src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=4174023966,2613203213&fm=23&gp=0.jpg" filled="#f10" width="6" height="6" size=".8" color="#999" :position=true>
        分享到朋友圈
    </b-image-button>
</div>
<div>
    <b-text-button width="10" height="3" size=".8" color="#999" :position=true>
        分享到朋友圈
    </b-text-button>
</div>
<div>
    <b-radio :checked=true></b-radio>
</div>
<div>
    <b-checkbox :checked=true></b-checkbox>
</div>
<div>
    <b-solid-checkbox :checked=true></b-solid-checkbox>
</div>
<div>
    <b-toggle :checked=true></b-toggle>
</div>
<div>
    <b-select :checked=true name="cross">请选择产品</b-select>
</div>