<p-main bgcolor='offwhite'>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="18" align="left">
            <b-text size="30" color="black">保障利益</b-text>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="8" align="left">
            <b-text size="30" color="light">飞机意外伤残</b-text>
        </s-column>
        <s-column width="10" align="left">
            <b-text size="30">200万</b-text>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="8" align="left">
            <b-text size="30" color="light">火车/轮船意外伤残</b-text>
        </s-column>
        <s-column width="10" align="left">
            <b-text size="30">10万</b-text>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="8" align="left">
            <b-text size="30" color="light">食物中毒</b-text>
        </s-column>
        <s-column width="10" align="left">
            <b-text size="30">0.1万</b-text>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height='.526316' bgcolor='offwhite'></s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="8" align="left">
            <b-text size="30" color="light">身故受益人</b-text>
        </s-column>
        <s-column width="10" align="left">
            <b-text size="30">法定受益人</b-text>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height='.526316' bgcolor='offwhite'></s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="18" align="left">
            <b-text size="30" color="black">保障期限</b-text>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="8" align="left">
            <b-text size="30" color="light">自</b-text>
        </s-column>
        <s-column width="10" align="left">
            <b-text size="30">2017-01-01</b-text>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="8" align="left">
            <b-text size="30" color="light">至</b-text>
        </s-column>
        <s-column width="10" align="left">
            <b-text size="30">2017-02-02</b-text>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="8" align="left">
            <b-text size="30" color="light">共</b-text>
        </s-column>
        <s-column width="10" align="left">
            <b-text size="30">1年</b-text>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    </p-main>