<p-main>
    <s-single-cell height="2" border="true" bgcolor="#f0f0f0">
        <b-text size="28" color="grey">展示信息且支持修改的</b-text>
    </s-single-cell>
    <s-cell height="3" border="true" >
        <s-column width="6" align="left">
            <b-text size="34" color="black">联系方式</b-text>
        </s-column>
        <s-flex-column align="right">
            <b-text-button>保存</b-text-button>
        </s-flex-column>
    </s-cell>
    <s-cell height="3" border="true" >
        <s-column width="6" align="left">
            <b-text size="30" color="grey">手机号码</b-text>
        </s-column>
        <s-flex-column align="right">
            <b-tel-field>13323984377</b-tel-field>
        </s-flex-column>
    </s-cell>
    <s-cell height="3" border="true" >
        <s-column width="6" align="left">
            <b-text size="30" color="grey">联系地址</b-text>
        </s-column>
        <s-flex-column align="right">
            <b-text size="30">上海市浦东新区陆家嘴环路1333号平安大厦</b-text>
        </s-flex-column>
    </s-cell>
    <s-cell height="3" border="true" >
        <s-column width="6" align="left">
            <b-text size="30" color="grey">邮政编码</b-text>
        </s-column>
        <s-flex-column align="right">
            <b-text>200120</b-text>
        </s-flex-column>
    </s-cell>
    <s-cell height="3" border="true" >
        <s-column width="6" align="left">
            <b-text size="30" color="grey">电子邮箱</b-text>
        </s-column>
        <s-flex-column align="right">
            <b-text size="30">请输入银行预留电话</b-text>
        </s-flex-column>
    </s-cell>
    <s-single-cell height="2" border="true" bgcolor="#f0f0f0">
        <b-text size="28" color="grey">单行信息</b-text>
    </s-single-cell>
    <s-single-cell height="3" border="true">
        <s-flex-column align="center">
            <b-icon name="plus" size="32" color="high"></b-icon>
            <b-text size="30" color="high">添加银行卡</b-text>
        </s-flex-column>
    </s-single-cell>
</p-main>