._goback {
    transform: rotate(90deg);
}

/*.button-scale {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 9.078947rem;
    height: 3.157895rem;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #d7ac62;
    line-height: 3.157895rem;
    border-radius: 5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}
.button-scale:after{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #d7ac62;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: 10px;
}*/