<p-main>
    <s-single-cell height='2'>
        <s-column id="back" width="2" align="center">
            <b-icon class="_goback" name="angle-down" size="34" color="grey"></b-icon>
        </s-column>
        <s-flex-column align="center">
            <b-text size="30" color="black">Button</b-text>
        </s-flex-column>
        <s-column width="2" align="center">
        </s-column>
    </s-single-cell>
    <s-single-cell height='4'>
        <s-column width=".789474" align="left">
        </s-column>
        <s-flex-column width="13" align="center">
            <b-text size="24" color="grey">Button组件主要分为正常有圆角的button，无圆角的直角button,镂空的button(filled="false")，标签button(类似tab切换时用的button)，文字button以及图片button</b-text>
        </s-flex-column>
        <s-column width=".789474" align="left">
        </s-column>
    </s-single-cell>
    <s-cell height="2" bgcolor="lightgrey">
        <s-column width=".789474" align="left">
        </s-column>
        <s-column width="13" align="left">
            <b-text size="28" color="grey">超过一屏内容的页面所用的button：490/80</b-text>
        </s-column>
    </s-cell>
    <s-cell height="3.157895" bgcolor="#fff">
         <s-flex-column>
        </s-flex-column>
        <s-column width="12.894736" align="center">
            <b-button size="34" color="white" height="2.105263" filled="true" disabled>确定</b-button>
        </s-column>
        <s-flex-column>
        </s-flex-column>
     </s-cell>
    <s-cell height="2" bgcolor="lightgrey">
        <s-column width=".789474" align="left">
        </s-column>
        <s-column width="13" align="left">
            <b-text size="28" color="grey">占整个内容宽度的button：690/88</b-text>
        </s-column>
    </s-cell>
    <s-cell height="2.315789" bgcolor="lightgrey">
         <s-flex-column>
        </s-flex-column>
        <s-column width="18.157895" align="center">
            <b-button size="34"  color="white" height="2.315789" filled="true">正常状态</b-button>
        </s-column>
        <s-flex-column>
        </s-flex-column>
     </s-cell>
     <s-cell height=".5" bgcolor="lightgrey">
    </s-cell>
     <s-cell height="2.315789" bgcolor="lightgrey">
         <s-flex-column>
        </s-flex-column>
        <s-column width="18.157895" align="center">
            <b-button size="34"  color="white" height="2.315789" filled="true">点击状态</b-button>
        </s-column>
        <s-flex-column>
        </s-flex-column>
     </s-cell>
     <s-cell height=".5" bgcolor="lightgrey">
    </s-cell>
     <s-cell height="2.315789" bgcolor="lightgrey">
         <s-flex-column>
        </s-flex-column>
        <s-column width="18.157895" align="center">
            <b-button size="34"  color="white" height="2.315789" filled="true">不可点击</b-button>
        </s-column>
        <s-flex-column>
        </s-flex-column>
     </s-cell>

     <s-cell height="2" bgcolor="lightgrey">
        <s-column width=".789474" align="left">
        </s-column>
        <s-column width="13" align="left">
            <b-text size="28" color="grey">一屏驻底的的button：750/120</b-text>
        </s-column>
    </s-cell>
    <s-cell>
        <s-flex-column  align="center">
            <b-button size="34" height="3.157895" color="white" filled="true">确定</b-button>
        </s-flex-column>
     </s-cell>

     <s-cell height="2" bgcolor="lightgrey">
        <s-column width=".789474" align="left">
        </s-column>
        <s-column width="13" align="left">
            <b-text size="28" color="grey">直角button 240/120</b-text>
        </s-column>
    </s-cell>
    <s-cell bgcolor="lightgrey" height="3.157895" > 
         <s-flex-column>
        </s-flex-column>
        <s-column width="18.157895" align="center">
            <b-rectangular-button size="34"  color="white" width="6.315789" height="3.157895" filled="true">直角button</b-rectangular-button>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>

    <s-cell height="2" bgcolor="lightgrey">
        <s-column width=".789474" align="left">
        </s-column>
        <s-column width="13" align="left">
            <b-text size="28" color="grey">标签button</b-text>
        </s-column>
    </s-cell>
    <s-cell height=".5" bgcolor="lightgrey">
    </s-cell>
    <s-cell height="2.315789" bgcolor="lightgrey">
        <s-flex-column>
        </s-flex-column>
        <s-column width="5" align="center">
            <b-tab-button size="24"  color="high" height="2.315789" filled="false" position="left">待支付</b-tab-button>
        </s-column>
        <s-column width="5" align="center">
            <b-tab-button size="24"  color="high" height="2.315789" filled="false" position="middle">中间</b-tab-button>
        </s-column>
        <s-column width="5" align="center">
            <b-tab-button size="24"  color="high" height="2.315789" filled="true" position="right">已完成</b-tab-button>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>

    <s-cell height=".5" bgcolor="lightgrey">
    </s-cell>
    <s-cell height="1.578947" bgcolor="lightgrey">
        <s-flex-column>
        </s-flex-column>
        <s-column width="9.078947" align="center">
            <b-tab-button size="24"  color="high" height="1.578947" filled="false" position="left">待支付</b-tab-button>
        </s-column>
        <s-column width="9.078947" align="center">
            <b-tab-button size="24"  color="high" height="1.578947" filled="true" position="right">已完成</b-tab-button>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>

    <s-cell height=".5" bgcolor="lightgrey">
    </s-cell>
    <s-cell height="4" width="10" align="center" bgcolor="lightgrey">
        <s-flex-column>
        </s-flex-column>
        <s-column width="9.078947" align="center">
            <a class="button-scale"> 确定 </a>
        </s-column>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>

    <s-cell height="2" bgcolor="lightgrey">
        <s-column width=".789474" align="left">
        </s-column>
        <s-column width="13" align="left">
            <b-text size="28" color="grey">文字按钮</b-text>
        </s-column>
    </s-cell>
    <s-cell>
        <s-flex-column  align="center">
            <b-text-button size="34" height="3.157895" color="high" >确定</b-text-button>
        </s-flex-column>
     </s-cell>
     <s-cell height=".5" bgcolor="lightgrey">
    </s-cell>
    <s-cell height="1.578947" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="5.657895" align="left">
            <b-text size="30" color="light">影像资料：</b-text>
        </s-column>
        <s-column width="12.736842" align="left">
            <b-text-button size="30" width="5.156785" color="high" tapcolor="tapped" align="left">查看影像</b-text-button>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="6" bgcolor="lightgrey"></s-cell>
</p-main>
<p-footer>
    <s-cell height="3.157895" bgcolor="white">
        <s-flex-column>
        </s-flex-column>
        <s-column width="8.947368" align="center">
            <b-button size="24" tapcolor="tapped" color="high" height="2.105263" filled="false" position="middle">取消</b-button>
        </s-column>
        <s-column width=".789474" align="center"></s-column>
        <s-column width="8.947368" align="center">
            <b-button size="24"  color="high" height="2.105263" filled="true" position="middle">付款</b-button>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
</p-footer>