<p-main>
    <s-single-cell height='2'>
        <s-column id="back" width="2" align="center">
            <b-icon class="_goback" name="angle-down" size="34" color="grey"></b-icon>
        </s-column>
        <s-flex-column align="center">
            <b-text size="30" color="black">Image</b-text>
        </s-flex-column>
        <s-column width="2" align="center">
        </s-column>
    </s-single-cell>
    <s-single-cell height='4'>
        <s-column width=".789474" align="left">
        </s-column>
        <s-flex-column width="13" align="center">
            <b-text size="24" color="grey">Image组件</b-text>
        </s-flex-column>
        <s-column width=".789474" align="left">
        </s-column>
    </s-single-cell>
    <s-cell height="1" bgcolor="#f0f0f0">
        <s-column width=".789474" align="left">
        </s-column>
        <s-column width="13" align="left">
            <b-text size="28" color="high">微信分享图片</b-text>
        </s-column>
    </s-cell>
    <!--微信分享 start-->
    <s-cell height="1.121579" bgcolor="#ffffff">
    </s-cell>
    <s-cell height="4.131579">
        <s-flex-column ></s-flex-column>
        <s-column width="8.078947" align="center">
            <b-image src="https://ohc0dpsgs.qnssl.com/lego/images/wx_hy.png" width="4.131579" height="4.131579" ></b-image>
        </s-column>
        <s-column width="8.078947" align="center">
            <b-image src="https://ohc0dpsgs.qnssl.com/lego/images/wx_pyq.png" width="4.131579" height="4.131579" ></b-image>
        </s-column>
        <s-flex-column ></s-flex-column>
    </s-cell>
    <s-cell height="1.842101">
        <s-flex-column ></s-flex-column>
        <s-column width="8.078947" align="center">
            <b-text size="30" color="black">微信好友</b-text>
        </s-column>
        <s-column width="8.078947" align="center">
            <b-text size="30" color="black">微信朋友圈</b-text>
        </s-column>
        <s-flex-column ></s-flex-column>
    </s-cell>
    <s-cell height=".105163" bgcolor="#ffffff">
    </s-cell>
    <!--微信分享 end-->
    <s-cell height="2" bgcolor="#f0f0f0">
    </s-cell>
</p-main>