<p-main>
    <div class="_layers">
        <div class="_layers_common _layers_popout _layers_p_transform">
            <span>modal</span>
        </div>
        <div class="_layers_common _layers_mask _layers_m_transform">
            <span>mask</span>
        </div>
        <div class="_layers_common _layers_absolute _layers_a_transform">
            <span>footer</span>
        </div>
        <div class="_layers_common _layers_content _layers_c_transform">
            <span>main</span>
        </div>
    </div>
</p-main>