<p-main>
    <s-cell height="1.578947" bgcolor="white" >
        <s-flex-column align="right">
            <b-text-button align="right">编辑</b-text-button>
        </s-flex-column>
        <s-column width=".789474" align="left">
        </s-column>
    </s-cell>
    <s-cell height=".736842" bgcolor="offwhite">
    </s-cell>
    <s-cell height="1.210526" border="true" bgcolor="offwhite">
        <s-column width=".789474" align="left">
        </s-column>
        <s-column width="13" align="left">
            <b-text size="24" color="light">主被保险人 0/50</b-text>
        </s-column>
    </s-cell>
    <s-cell height="6" border="true" bgcolor="white">
        <s-column width=".789474" align="left">
        </s-column>
        <s-column class="_box" width="3.894737" align="center">
            <b-icon class="_addicon" name="cross-light" color="light" size="112"></b-icon>
        </s-column>
        <s-column width=".789474" align="left">
        </s-column>
        <s-column class="_box"  width="3.894737" align="center">
            <b-icon class="_addicon" name="cross-light" color="light" size="112"></b-icon>
        </s-column>
        <s-column width=".789474" align="left">
        </s-column>
        <s-column class="_box" width="3.894737" align="center">
            <b-icon class="_addicon" name="cross-light" color="light" size="112"></b-icon>
        </s-column>
        <s-column width=".789474" align="left">
        </s-column>
        <s-column class="_box"  width="3.894737" align="center">
            <b-icon class="_addicon"name="cross-light" color="light" size="112"></b-icon>
        </s-column>
        <s-column width=".789474" align="left">
        </s-column>
    </s-cell>

    <s-cell height=".736842" bgcolor="offwhite">
    </s-cell>
    <s-cell height="1.210526" border="true" bgcolor="offwhite">
        <s-column width=".789474" align="left">
        </s-column>
        <s-column width="13" align="left">
            <b-text size="24" color="light">连带被保险人 0/50</b-text>
        </s-column>
    </s-cell>
    <s-cell height="6" border="true" bgcolor="white">
        <s-column width=".789474" align="left">
        </s-column>
        <s-flex-column align="left">
            <b-icon name="cross-light" color="light" size="112"></b-icon>
        </s-flex-column>
    </s-cell>

    
</p-main>
<p-footer>
    <s-single-cell height="3.157895" >
        <s-flex-column align="center">
            <b-rectangular-button filled="true" height="3.157895">下一步</b-rectangular-button>
        </s-flex-column>
    </s-single-cell>
</p-footer>