<p-main>
    <s-single-cell height='2'>
        <s-column id="back" width="2" align="center">
            <b-icon class="_goback" name="angle-down" size="34" color="grey"></b-icon>
        </s-column>
        <s-flex-column align="center">
            <b-text size="30" color="black">Button</b-text>
        </s-flex-column>
        <s-column width="2" align="center">
        </s-column>
    </s-single-cell>
    <s-single-cell height='4'>
        <s-column width=".789474" align="left">
        </s-column>
        <s-flex-column width="13" align="center">
            <b-text size="24" color="grey">Button组件主要分为正常有圆角的button，无圆角的直角button,镂空的button(filled="false")，标签button(类似tab切换时用的button)，文字button以及图片button</b-text>
        </s-flex-column>
        <s-column width=".789474" align="left">
        </s-column>
    </s-single-cell>
    <s-cell height="2" bgcolor="offwhite">
        <s-column width=".789474" align="left">
        </s-column>
        <s-column width="16" align="left">
            <b-text size="28" color="grey">超过一屏内容的页面所用的button：490/80</b-text>
        </s-column>
    </s-cell>
    <s-cell height="3.157895" bgcolor="white">
         <s-flex-column>
        </s-flex-column>
        <s-column width="12.894736" align="center">
            <b-button size="34" color="white" height="2.105263" filled="true"><a href="https://egis-cssp-dmzstg1.pingan.com.cn/m/insurance_release/success.html ">确定</a></b-button>
        </s-column>
        <s-flex-column>
        </s-flex-column>
     </s-cell>
    <s-cell height="2" bgcolor="offwhite">
        <s-column width=".789474" align="left">
        </s-column>
        <s-column width="13" align="left">
            <b-text size="28" color="grey">占整个内容宽度的button：690/88</b-text>
        </s-column>
    </s-cell>
    <s-cell height="3.157895" bgcolor="white">
         <s-flex-column>
        </s-flex-column>
        <s-column width="18.157895" align="center">
            <b-button size="34"  color="white" height="2.315789" filled="true">正常状态</b-button>
        </s-column>
        <s-flex-column>
        </s-flex-column>
     </s-cell>
     <s-cell height="3.157895" bgcolor="white">
         <s-flex-column>
        </s-flex-column>
        <s-column width="18.157895" align="center">
            <b-button class="demo_tapping" size="34" color="white" height="2.315789" filled="true">点击状态</b-button>
        </s-column>
        <s-flex-column>
        </s-flex-column>
     </s-cell>
     <s-cell height="3.157895" bgcolor="white">
         <s-flex-column>
        </s-flex-column>
        <s-column width="18.157895" align="center">
            <b-button disabled size="34"  color="white" height="2.315789" filled="true">不可点击</b-button>
        </s-column>
        <s-flex-column>
        </s-flex-column>
     </s-cell>

    <s-cell height="3.157895" bgcolor="white">
         <s-flex-column>
        </s-flex-column>
        <s-column width="18.157895" align="center">
            <b-button size="34"  color="white" height="2.315789">正常状态</b-button>
        </s-column>
        <s-flex-column>
        </s-flex-column>
     </s-cell>
     <s-cell height="3.157895" bgcolor="white">
         <s-flex-column>
        </s-flex-column>
        <s-column width="18.157895" align="center">
            <b-button class="demo_tapping" size="34" color="white" height="2.315789">点击状态</b-button>
        </s-column>
        <s-flex-column>
        </s-flex-column>
     </s-cell>

     <s-cell height="2" bgcolor="offwhite">
        <s-column width=".789474" align="left">
        </s-column>
        <s-column width="16" align="left">
            <b-text size="28" color="grey">一屏驻底的的button：750/120</b-text>
        </s-column>
    </s-cell>
    
    <s-cell height="4.157895" bgcolor="white">
        <s-flex-column  align="center">
            <b-rectangular-button size="34" height="3.157895" color="white" filled="true">确定</b-rectangular-button>
        </s-flex-column>
     </s-cell>

     <s-cell height="2" bgcolor="offwhite">
        <s-column width=".789474" align="left">
        </s-column>
        <s-column width="13" align="left">
            <b-text size="28" color="grey">直角button 240/120</b-text>
        </s-column>
    </s-cell>
    
    <s-cell height="3.157895" bgcolor="alpha">
        <s-column width="1.578947"></s-column>
        <s-column width="1.578947">
            <b-radio></b-radio>
        </s-column>
        <s-column width=".526316"></s-column>
        <s-column width="2.231579">
            <b-text size="34" color="black">全选</b-text>
        </s-column>
        <s-flex-column align="right">
        <b-highlight size="24" >合计：</b-highlight>
        <b-highlight size="34" >￥7,008.50</b-highlight>
    </s-flex-column>
    <s-column width="6.842105" align="right">
        <b-rectangular-button size="34"  color="white" width="6.315789" height="3.157895" filled="true">直角button</b-rectangular-button>
    </s-column>
    </s-cell>


    <s-cell height="2" bgcolor="offwhite">
        <s-column width=".789474" align="left">
        </s-column>
        <s-column width="13" align="left">
            <b-text size="28" color="grey">标签button</b-text>
        </s-column>
    </s-cell>
    <s-cell height="3.157895" bgcolor="white">
        <s-flex-column>
        </s-flex-column>
        <s-column width="6.052631" align="center">
            <b-tab-button size="24"  color="high" height="1.578947" filled="false" position="left">健康商城</b-tab-button>
        </s-column>
        <s-column width="6.052631" align="center">
            <b-tab-button size="24"  color="high" height="1.578947" filled="true" position="middle">保险商城</b-tab-button>
        </s-column>
        <s-column width="6.052631" align="center">
            <b-tab-button size="24"  color="high" height="1.578947" filled="false" position="right">金融商城</b-tab-button>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>

    <s-cell height=".5" bgcolor="offwhite">
    </s-cell>
    <s-cell height="3.157895" bgcolor="white">
        <s-flex-column>
        </s-flex-column>
        <s-column width="9.078947" align="center">
            <b-tab-button size="24"  color="high" height="1.578947" filled="true" position="left">待支付</b-tab-button>
        </s-column>
        <s-column width="9.078947" align="center">
            <b-tab-button size="24"  color="high" height="1.578947" filled="false" position="right">已完成</b-tab-button>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>

    <s-cell height="2" bgcolor="offwhite">
        <s-column width=".789474" align="left">
        </s-column>
        <s-column width="13" align="left">
            <b-text size="28" color="grey">文字按钮</b-text>
        </s-column>
    </s-cell>
    <s-cell bgcolor="white">
        <s-flex-column  align="center">
            <b-text-button size="34" height="3.157895" color="high" >确定</b-text-button>
        </s-flex-column>
     </s-cell>
     <s-cell height=".5" bgcolor="offwhite">
     </s-cell>
     <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="5" align="left">
            <b-text size="30" color="grey">手机号</b-text>
        </s-column>
        <s-column width="10.157895" align="right">
            <b-tel-field size="30" color="grey" placeholder="请输入手机号" value="12345678987"></b-tel-field>
        </s-column>
        <s-column width="3" align="right">
            <b-icon name="round-cross" size="34" color="stonegrey" ></b-icon>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="5" align="left">
            <b-text size="30" color="grey">验证码</b-text>
        </s-column>
        <s-column width="6.789474" align="right">
            <b-tel-field size="30" color="grey" placeholder="手机验证码" ></b-tel-field>
        </s-column>
        <s-column width="6.368421" align="right">
            <b-text-button size="30" align="right" color="high" align="right" >获取</b-ext-button>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="4" bgcolor="offwhite"></s-cell>
</p-main>
<p-footer>
    <s-cell height="3.157895" bgcolor="alpha">
        <s-flex-column>
        </s-flex-column>
        <s-column width="8.947368" align="center">
            <b-button size="24" tapcolor="tapped" color="high" height="2.105263" filled="false" position="middle">取消</b-button>
        </s-column>
        <s-column width=".789474" align="center"></s-column>
        <s-column width="8.947368" align="center">
            <b-button size="24" tapcolor="tapping"  color="high" height="2.105263" filled="true" position="middle">付款</b-button>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
</p-footer>