<p-main>
    <s-single-cell height='2'>
        <s-column id="back" width="2" align="center">
            <b-icon class="_goback" name="angle-down" size="34" color="grey"></b-icon>
        </s-column>
        <s-flex-column align="center">
            <b-text size="30" color="black">Button</b-text>
        </s-flex-column>
        <s-column width="2" align="center">
        </s-column>
    </s-single-cell>
    <s-single-cell height='4'>
        <s-column width=".789474" align="left">
        </s-column>
        <s-flex-column width="13" align="center">
            <b-text size="24" color="grey">Button组件主要分为正常有圆角的button，无圆角的直角button,镂空的button(filled="false")，标签button(类似tab切换时用的button)，文字button以及图片button</b-text>
        </s-flex-column>
        <s-column width=".789474" align="left">
        </s-column>
    </s-single-cell>
    <s-cell height="1" bgcolor="offwhite">
    </s-cell>
    <!--折叠 start-->
    <s-cell height=".842105">
    </s-cell>
    <s-cell height="1.105263">
        <s-column width=".789474" align="left">
        </s-column>
        <s-flex-column width="13" align="left">
            <b-text color="black" size="32">颈椎加项包</b-text>
        </s-flex-column>
        <s-column width=".789474" align="left">
        </s-column>
    </s-cell>
    <!--type === '1' 时 内容展示 向上箭头-->
    <template v-show="true ">
    <s-cell height="1.473684">
        <s-column width=".789474" align="left">
        </s-column>
        <s-flex-column width="13" align= "left">
            <b-text color="grey" size="28">一般检查</b-text>
        </s-flex-column>
        <s-column width=".789474" align="left">
        </s-column>
    </s-cell>
    <s-cell height="1">
        <s-column width=".789474" align="left">
        </s-column>
        <s-flex-column width="13" align="left">
            <b-text color="light" size="24">· 身高、体重、血压(收缩压、舒张压),脉搏</b-text>
        </s-flex-column>
        <s-column width=".789474" align="left">
        </s-column>
    </s-cell>
    <s-cell height="1.473684">
        <s-column width=".789474" align="left">
        </s-column>
        <s-flex-column width="13" align= "left">
            <b-text color="grey" size="28">一般检查</b-text>
        </s-flex-column>
        <s-column width=".789474" align="left">
        </s-column>
    </s-cell>
    <s-cell height="1">
        <s-column width=".789474" align="left">
        </s-column>
        <s-flex-column width="13" align="left">
            <b-text color="light" size="24">· 身高、体重、血压(收缩压、舒张压),脉搏</b-text>
        </s-flex-column>
        <s-column width=".789474" align="left">
        </s-column>
    </s-cell>
    <s-cell height="1">
        <s-column width=".789474" align="left">
        </s-column>
        <s-flex-column width="13" align="left">
            <b-text color="light" size="24">· 身高、体重、血压(收缩压、舒张压),脉搏</b-text>
        </s-flex-column>
        <s-column width=".789474" align="left">
        </s-column>
    </s-cell>
    </template>
    <s-cell height=".5" border="true">
    </s-cell>
    <s-single-cell height="2.105263" border="true">
        <s-flex-column align="center">
            <b-icon v-if="true" name="angle-up" color="stonegrey"></b-icon>
            <!--<b-icon v-else name="angle-down" color="stonegrey"></b-icon>-->
        </s-flex-column>
    </s-single-cell>
    <!--折叠 end-->
</p-main>
