<p-main>
    <s-single-cell height='2'>
        <s-column id="back" width="2" align="center">
            <b-icon class="_goback" name="angle-down" size="34" color="grey"></b-icon>
        </s-column>
        <s-flex-column align="center">
            <b-text size="30" color="black">Icon</b-text>
        </s-flex-column>
        <s-column width="2" align="center">
        </s-column>
    </s-single-cell>
    <s-single-cell height='4'>
        <s-column width=".789474" align="left">
        </s-column>
        <s-flex-column width="13" align="center">
            <b-text size="24" color="grey">Icon组件</b-text>
        </s-flex-column>
        <s-column width=".789474" align="left">
        </s-column>
    </s-single-cell>

    <s-cell height="2" bgcolor="#f0f0f0">
        <s-column width=".789474" align="left">
        </s-column>
        <s-column width="13" align="left">
            <b-text size="28" color="grey">常用功能icon 34/34</b-text>
        </s-column>
    </s-cell>
    <s-cell height="3.157895" bgcolor="#fff">
        <s-column width=".789474" align="left">
        </s-column>
        <s-column width="2" align="left">
            <b-icon size="60" color="grey" name="angle-up"></b-icon>
        </s-column>
        <s-column width="2" align="left">
            <b-icon size="60" color="grey" name="hammer"></b-icon>
        </s-column>
        <s-column width="2" align="left">
            <b-icon size="60" color="grey" name="plus-light"></b-icon>
        </s-column>
        <s-column width="2" align="left">
            <b-icon size="60" color="grey" name="minus-light"></b-icon>
        </s-column>
        <s-column width="2" align="left">
            <b-icon size="60" color="grey" name="angle-right-bold"></b-icon>
        </s-column>
        <s-column width="2" align="left">
            <b-icon size="60" color="grey" name="gear"></b-icon>
        </s-column>
     </s-cell>
     <s-cell height="3.157895" bgcolor="#fff">
        <s-column width=".789474" align="left">
        </s-column>
        <s-column width="2" align="left">
            <b-icon size="60" color="high" name="bean"></b-icon>
        </s-column>
        <s-column width="2" align="left">
            <b-icon size="60" color="high" name="eye-closed"></b-icon>
        </s-column>
        <s-column width="2" align="left">
            <b-icon size="60" color="high" name="magnifier"></b-icon>
        </s-column>
        <s-column width="2" align="left">
            <b-icon size="60" color="high" name="flag-hollow"></b-icon>
        </s-column>
        <s-column width="2" align="left">
            <b-icon size="60" color="high" name="start-hollow"></b-icon>
        </s-column>
        <s-column width="2" align="left">
            <b-icon size="60" color="high" name="check-hollow"></b-icon>
        </s-column>
     </s-cell>
    <s-cell height="3.947368">
        <s-flex-column>
        </s-flex-column>
        <s-column class="_success_icon" width="3.947368" align="center">
            <b-icon size="120" color="white" name="check-bold"></b-icon>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="3.105263">
        <s-flex-column>
        </s-flex-column>
        <s-column align="center">
            <b-text size="36" color="grey">赎回成功</b-text>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
</p-main>