<p-main>
    <s-single-cell height='2'>
        <s-column id="back" width="2" align="center">
            <b-icon class="_goback" name="angle-down" size="34" color="grey"></b-icon>
        </s-column>
        <s-flex-column align="center">
            <b-text size="30" color="black">Text</b-text>
        </s-flex-column>
        <s-column width="2" align="center">
        </s-column>
    </s-single-cell>
    <s-single-cell height='4'>
        <s-column width=".789474" align="left">
        </s-column>
        <s-flex-column width="13" align="center">
            <b-text size="24" color="grey">Text组件</b-text>
        </s-flex-column>
        <s-column width=".789474" align="left">
        </s-column>
    </s-single-cell>

    <s-cell height="2" border="true" bgcolor="offwhite">
        <s-column width=".789474" align="left">
        </s-column>
        <s-column width="13" align="left">
            <b-text size="28" color="high">高亮颜色的文字，字号28px</b-text>
        </s-column>
    </s-cell>
    <s-cell height="2.263158" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="14.315789" align="left">
            <b-text size="34" color="black">黑色的文字，字号34px</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="4.871795" align="left">
            <b-text size="30" color="light">浅灰30px</b-text>
        </s-column>
        <s-column width="13.157895" align="left">
            <b-text size="30">灰色30px</b-text>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="3.421053" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="4.871795" align="left">
            <b-text size="30" color="light">联系地址<br>&nbsp;&nbsp;</b-text>
        </s-column>
        <s-column width="13.157895" align="left">
            <b-text size="30">上海市浦东新区陆家嘴环路1333号平安大厦</b-text>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="4.871795" align="left">
            <b-text size="30" color="light">邮政编码</b-text>
        </s-column>
        <s-column width="13.157895" align="left">
            <b-text size="30" >200120</b-text>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="4.871795" align="left">
            <b-text size="30" color="light">电子邮箱</b-text>
        </s-column>
        <s-column width="13.157895" align="left">
            <b-text size="30">ssssss@gmail.com</b-text>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="4" bgcolor="white" >
    </s-cell>
</p-main>