<p-main>
    <s-single-cell height='2'>
        <s-flex-column width="13" align="center">
            <b-text size="30" color="black">Text</b-text>
        </s-flex-column>
    </s-single-cell>
    <s-single-cell height='4'>
        <s-flex-column width="13" align="center">
            <b-text size="24" color="grey">Text组件中，可控制的颜色有black(#333),grey(#666),light(#999),high(#d7ac62),placeholder(#c1c1c1);可控制的文字大小最小为22px(设计稿标注的大小)，依次有22，24，30，32，34，36</b-text>
        </s-flex-column>
    </s-single-cell>

    <s-cell height="2" border="true" bgcolor="#f0f0f0">
        <s-column width=".789474" align="left">
        </s-column>
        <s-column width="13" align="left">
            <b-text size="28" color="high">高亮颜色的文字，字号28px</b-text>
        </s-column>
    </s-cell>
    <s-cell height="2.263158" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="14.315789" align="left">
            <b-text size="34" color="black">黑色的文字，字号34px</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="4.871795" align="left">
            <b-text size="30" color="light">浅灰30px</b-text>
        </s-column>
        <s-column width="13.157895" align="left">
            <b-text size="30">灰色30px</b-text>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="3.421053" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="4.871795" align="left">
            <b-text size="30" color="light">联系地址<br>&nbsp;&nbsp;</b-text>
        </s-column>
        <s-column width="13.157895" align="left">
            <b-text size="30">上海市浦东新区陆家嘴环路1333号平安大厦</b-text>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="4.871795" align="left">
            <b-text size="30" color="light">邮政编码</b-text>
        </s-column>
        <s-column width="13.157895" align="left">
            <b-text size="30" >200120</b-text>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="2.473684" border="true" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="4.871795" align="left">
            <b-text size="30" color="light">电子邮箱</b-text>
        </s-column>
        <s-column width="13.157895" align="left">
            <b-text size="30">ssssss@gmail.com</b-text>
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="2.263158" bgcolor="#f0f0f0" >
        <s-flex-column>
        </s-flex-column>
        <s-column width="14.315789" align="left">
            <b-text size="34" color="black">个人中心渐变背景色</b-text>
        </s-column>
        <s-column width="3.578945" align="right">
        </s-column>
        <s-flex-column>
        </s-flex-column>
    </s-cell>
    <s-cell height="3.684211" gradient="true" >
        <s-column width=".789474" align="left">
        </s-column>
        <s-flex-column>
            <b-highlight size="40">付款成功<br><b-text size="32" color="white">已支付</b-text></b-highlight>
        </s-flex-column>
    </s-cell>
</p-main>